[2015-04-11 01:53] mattheworiordan opened #3 "PaginatedResource API change"
@marto83 and @yavor87, please see https://github.com/ably/ably-js/issues/28.

We are trying to consolidate how we provide Pagination, and unfortunately this means we should change the .NET api.  It's not critical, and lower priority, but we should do it.

@marto83, Paddy says his previous API was more in-line with what we have proposed in https://github.com/ably/ably-js/issues/28, but he then foll

[2015-04-11 22:06] marto83 commented on #3
There were a few things that bothered me with the previous implementation.
1. The result was trying to do two much - it was both holding the result from the server and at the same time it knew how to query the server for more.
2. You were hiding calls to the server from within the result so an unsuspecting dev could be making hundreds of calls itterating through the returned values.
3. Stops you f

[2015-04-12 14:51] mattheworiordan commented on #3
@marto83 your point 3 is quite valid, but if we introduce `PaginatedResource#items` then we don't have to worry about that in reality because hopefully people would be smart enough to serialise that array instead.  Also, your point about the reference not working when you retrieve the object back, that applies whether you pass the URL to the history method or call it directly, either way it will n

[2015-04-12 15:39] marto83 commented on #3
Thanks @mattheworiordan.

What you say does make sense. It does make using the api easier to use so you don't have to think about passing it back to the service. I guess it reminds me of active record and I've never liked it.

It shouldn't be a huge change.

[2015-04-12 16:10] mattheworiordan commented on #3
@marto83 I wanted to see what was involved so implemented it in a feature branch, didn't take very long, see https://github.com/ably/ably-ruby/tree/new-paginated-resource.  I find the API is now a bit more verbose, but equally I think conceptually it's a lot clearer what developers are dealing with when accessing paged results.

[2015-04-18 17:45] mattheworiordan commented on #3
I am closing this as this is covered in a new issue being created now

[2015-04-18 17:45] #3 closed

[2015-04-18 17:46] mattheworiordan opened #4 "API changes Apr 2015"
Before our stable release, we agreed to make a few final amends to our client library APIs to improve consistency and reduce ambiguity.

The token related changes are breaking changes, so we need these changes to be rolled out for this client library ASAP as we intend on migrating to the new API early next week.  This means that this library will no longer be able to use Token auth when this chang

[2015-04-20 13:24] mattheworiordan opened #5 "Consistent README"
See https://github.com/ably/ably-ruby/blob/master/README.md for an example of a common format used for the client library README.  The README must include examples of using the most common features.

We must also include:

* Installation instructions including how to install from a package manager i.e. similar to NPM or RubyGems
* License info

[2015-05-05 11:11] mattheworiordan opened #7 "Spec validation"
For version 0.8 of our client libraries, we have a documented specification at http://docs.ably.io/client-lib-development-guide/features/

It is required that all of our client libraries that use a 0.8.x version number, where possible, adhere to this specification ensuring feature compatibility across all languages and platforms. To ensure that we do not have regressions in future from this specif

[2015-05-09 07:28] yavor87 commented on #7
Document available [here](https://docs.google.com/spreadsheets/d/1iMonJyxQxMZc7cr1KCXMKSUTKnEIGclOwtNOYYzOGAk/edit?usp=sharing)

[2015-05-16 08:05] yavor87 opened #8 "Realtime: Presence"
- [ ]   **RTP1** When a channel `ATTACHED` `ProtocolMessage` is received, the `ProtocolMessage` may contain a bit flag with value 1 indicating that there are currently members present on the channel. If members are present, subsequent `ProtocolMessage SYNC` messages will be delivered with presence members (messages) until the `SYNC` operation is complete. If there is no flag or the right most bit

[2015-05-17 17:44] yavor87 opened #9 "Realtime: Channel"
* [x]   **RTN1** As soon as a `Channel` becomes attached, all incoming messages and presence messages are processed and emitted where applicable. `PRESENCE` and `SYNC` messages are passed to the `Presence` object ensuring it maintains a map of current members on a channel in realtime.
* [ ]   **RTN2** EventEmitter and states:
    * [ ]   **RTN2a** Implements `EventEmitter` and emits events for sta

[2015-05-17 17:52] yavor87 opened #10 "Realtime: Connection"
* [x]   **RTN1** `Connection` connects to the Ably service using a websocket connection. The [ably-js library](https://github.ably.io/ably/ably-js) supports additional transports such as Comet and XHR streaming; however non-browser client libraries typically use only a websocket transport
* [x]   **RTN2** The default host used for realtime websocket connections is `realtime.ably.io`, and the follo

[2015-05-17 17:56] yavor87 opened #11 "RealtimeClient"
* [x]   **RTC1** Supports all the same `ClientOptions` as the `RestClient` in addition to:
    * [x]   **RTC1a** `echoMessages` boolean is true by default. If false, it prevents messages originating from this connection being echoed back on the same connection
    * [x]   **RTC1b** `autoConnect` boolean is true by default. If true, as soon as the client library is instanced, it will connect to Abl

[2015-05-17 17:57] yavor87 opened #12 "Realtime: Channels"
* [x]   **RTS1** `Channels` is a collection of `Channel` objects accessible through `Realtime#channels`
* [x]   **RTS2** Methods should exist to check if a channel exists or iterate through the existing channels
* [x]   **RTS3** `Channels#get` function:
    * [x]   **RTS3a** Creates a new `Channel` object for the specified channel if none exists, or returns the existing channel. `ChannelOptions` c

[2015-07-27 10:22] mattheworiordan opened #14 "Add support for Nuget"
We need to ensure ably dotnet is distributable in Nuget

[2015-08-14 07:44] mattheworiordan commented on #12
@yavor87 can we close this if you have ticks for all?

[2015-08-14 07:47] mattheworiordan commented on #11
Prioritisation notes:

* `recover` used to recover a connection from a another client not a priority
* `stats` is nice to have, but lower priority. Assuming you have a generic way of proxying Realtime to REST requests though, this should be very easy, see https://github.com/ably/ably-dotnet/blob/5253602b3cdb13b09fc04b30abbb496ede994b88/src/Ably/RestClient.cs#L475-L478

[2015-08-14 07:50] mattheworiordan commented on #10
Prioritisation of specs within this issue:

### High priority

* All ACK / NACK tests
* Multiple simultaneous connections
* Connection attributes
* `Connection#connect` + edge cases
* `Connection#close` + edge cases
* Connection opening failures
* Connection failures whilst connected and resuming state
* Connection state change side effects

### Medium priority

* Fallback hosts (needed to honour

[2015-08-14 07:53] mattheworiordan commented on #9
Prioritisation notes:

### High priority

* Channel history (simple wrapper around REST history + one additional feature `untilAttach`
* Channel subscribe (without encryption)
* Channel publish (without encryption)
* `Channel#attach`, `Chanel#detach`, all side effects of state changes + `EventEmitter` state changes
* Channel unsubscribe

### Lower priority

* Channel encryption

[2015-08-14 07:57] mattheworiordan commented on #8
Prioritisation notes:

### High priority
* `SYNC` support assuming the connection did not disconnect during `SYNC`
* `Presence#enter`, `Presence#update`, `Presence#leave` with all options (no encryption)
* `Presence#subscribe` and `Presence#unsubscribe`
* `Presence#get` using `PresenceMap`
* `Presence#history`

### Medium priority
* Full support for `SYNC`, including recovery if underlying transpo

[2015-08-14 08:00] yavor87 commented on #12
Let me fill in the tests in the google doc spec file.

[2015-09-04 08:55] yavor87 commented on #14
Nuspec available here: https://github.com/ably/ably-dotnet/tree/realtimeClientTests/nuget . We only need the publishing key and we roll.

[2015-09-04 08:56] #4 closed

[2015-09-07 05:40] mattheworiordan commented on #14
Is this actually published?

[2015-09-07 07:03] yavor87 commented on #14
No, the specification is done. Using that we can create an actual package and publish it on nuget.org.

[2015-09-07 07:11] #14 closed

[2015-09-07 16:50] yavor87 commented on #5
I updated the README in this commit: https://github.com/ably/ably-dotnet/blob/385a3c9056f58052fa358eda515c18715e30add8/README.md

[2015-09-08 08:04] mattheworiordan commented on #5
Thanks, that's an improvement, although we are missing more thorough examples like the other READMEs have.  Perhaps look at that once the spec is complete?

[2015-09-29 13:16] mattheworiordan opened #17 "Switch arity of auth methods"
See https://github.com/ably/docs/commit/63ff7fa2d654641a9d7856bd8dc67beb937d3fef

The `AuthOptions` and `TokenParams` arguments are switched.

@yavor87 sorry for this change, but this is the last change in the 0.8 spec and we felt it makes a lot more sense to have `TokenParams` as the first argument as that is the most common argument and `AuthOptions` is optional.

[2015-10-05 12:00] yavor87 commented on #17
The RequestToken signature that we have currently seems correct. Take a look [here](https://github.com/ably/ably-dotnet/blob/master/src/Ably/AblyTokenAuth.cs#L34).

[2015-10-06 01:54] mattheworiordan commented on #17
Well sort of.

The argument should be a `TokenParams` object, not a `TokenRequest` object, but at least the order is correct!

[2015-10-06 01:59] mattheworiordan commented on #17
Also, `force` is a property of `AuthOptions` and does not need to be an argument of the `authorise` method, see https://github.com/ably/docs/commit/7e7dc0e19cbb3af98136d5ca39e217e00dfd25f2

[2015-11-01 10:31] #12 closed

[2015-11-01 10:31] #7 closed

[2015-11-24 16:26] mattheworiordan opened #18 "Xamarin support"
Apparently the .NET does work on Xamarin, even if compiled for Xamarin.

[2015-11-24 16:29] paddybyers commented on #18
maybe "does not" ?

[2015-11-24 16:31] mattheworiordan commented on #18
Oops, I meant does not

[2015-12-02 20:47] mattheworiordan opened #19 "Tagged version and changelog missing"
Currently this repo has no version, we should release a `v0.8.x`, see Ruby's releases at https://github.com/ably/ably-ruby/releases for an example

Changelog is referenced from the README, but is missing and should contain the history of changes following the initial release, see https://github.com/ably/ably-ruby/blob/master/CHANGELOG.md

[2015-12-02 20:47] mattheworiordan commented on #19
We should also release the tagged version to Nuget at the same time, and every time in future a new version is tagged, we should release

[2015-12-02 20:48] mattheworiordan commented on #17
@yavor87 any update on this?

[2015-12-02 20:48] mattheworiordan commented on #18
@yavor87 what is the status on thsi?

[2015-12-02 20:50] mattheworiordan commented on #5
@yavor87 we really need a more complete set of examples, see https://github.com/ably/ably-ruby for an example. Without this, it is quite hard for a dev to know where to start, and for our own documentation purposes, this is necessary

I have addressed the license issues.

[2015-12-02 20:51] mattheworiordan opened #20 "0.8.x spec finalisation"
We have a few minor final changes to the spec to resolve some unaddressed points and reduce ambiguity in the spec.

See https://docs.google.com/spreadsheets/d/1bG_SEVlCi3blQBveGtsncxFGD4ArCtS-JCq6iLW3lGw/edit#gid=1243782805&vpid=B4 for the list of changes, which includes references to all spec items that have changed.

We must go through the changes and ensure all items in the unified spec are cov

[2015-12-02 21:18] yavor87 commented on #18
In progress

[2015-12-03 13:23] mattheworiordan opened #21 "TokenDetails serialisation"
@yavor87 a customer has today been using the .NET library and used it to generate a token that is sent to the client.  However, we have a serialisation issue and a clientId issue.

Here is a sample of the serialised TokenDetails object:

[code]

So the obvious problem here is that the serialised expires & issued values should be in milliseconds not seconds since the epoch (unix time).

Also, "clie

[2015-12-03 13:27] mattheworiordan opened #22 "Token TTL"
A customer has been issuing tokens using either the default TTL, or specifying a TTL, and both result in an expired token.  I am quite confident this is because the TTL value sent to Ably is in an incorrect format i.e. seconds instead of milliseconds.

### Example of a token that is expired almost immediately, yet should be 15 minutes

[code]

### Example of a token that is expired immediately, ye

[2015-12-03 16:43] marto83 commented on #21
Matt can you have a look at the pull request that should fix the json issues.
Can you create a separate issue for MessagePack where all dates are serialised as seconds instead of milliseconds?

[2015-12-03 16:49] mattheworiordan commented on #21
I can create a separate MessagePack issue, however can you confirm:

* Is MessagePack not the default?  If it is, surely this will still break if not addressed when requesting a token sending a TokenRequest object?
* What about the TokenRequest object?

[2015-12-03 19:18] #21 closed

[2015-12-03 19:18] #22 closed

[2015-12-14 15:42] stannedelchev opened #25 "Token Authentication not connecting"
I'm running a WPF app (just a window with a simple textbox inside).
The Ably library never connects and the message box at the bottom is never displayed.
Instead, I get the log below, which keeps repeating every 15 seconds.

[code]

	[17:24:05.793]:
	CurrentState:  Connecting,
	PreviousState: Connecting,
	Reason:        ,
	RetryIn:       -1
	[17:24:05.797]:
	CurrentState:  Disconnected,
	PreviousS

[2015-12-14 15:56] stannedelchev commented on #25
OK, I set TLS=false and used http:// instead of https://.
Apparently, under the covers, the service returns 401 Unauthorized which is wrapped in a "temporarily unavailable/8003" error.

Log from Wireshark:
[code]

Call stack, before an Error object is created:
[code]

[2015-12-14 20:19] mattheworiordan commented on #25
I've asked @yavor87 to take a look, hopefully he can help address the problem

[2015-12-29 18:40] mattheworiordan opened #26 "Add native async .NET support"
We currently support a style that allows older version of the .NET framework to call our async methods.  We should add support for the official supported Async .NET pattern as well

[2015-12-29 18:52] mattheworiordan opened #27 "Add async / callback style methods for REST methods"
For environment such as mobile apps where an evented approach is required for REST calls, we need to add overloaded or alternative methods that provides an async style way of calling REST methods.  See https://github.com/ably/ably-java/pull/59

[2015-12-30 13:05] mattheworiordan opened #28 "Add documentation to README about which platforms are supported"
Such as:
- Version of .NET
- Version of Xamarin
- Versions of Windows, Desktop, Store etc.
- Versions of Windows Phone, Silverlight, WinRT etc.
- Mono, Unit3D, IoT etc.

[2015-12-30 13:23] mattheworiordan commented on #28
Have previously discussed:

[2015-12-30 14:50] mattheworiordan opened #29 "Class & namespace naming"
I believe the current naming is incorrect and inconsistent with the other client libraries.

The way the client libraries should be referenced should is:

[code]

whereas it appears to be currently

[code]

I could be wrong of course ;)

[2015-12-30 14:52] paddybyers commented on #29
FWIW the java package/class names are

    io.ably.lib.rest.AblyRest
    io.ably.lib.realtime.AblyRealtime

[2015-12-30 14:53] #20 closed

[2015-12-30 14:57] mattheworiordan commented on #29
Mmm, not ideal really, why is that?  Could we not reduce the duplication of the type and have:

[code]

or perhaps even

[code]

[2015-12-30 15:02] paddybyers commented on #29
`lib` because it's a library.
`rest` and `realtime` are packages so that there is a clear separation between those parts of the library, and also so that we can have classes called `Channel` or `Presence` without having to disambiguate in the class name.

As packages are never referenced except in import statements, there is no merit in having shallower but ultimately inflexible package hierarchie

[2015-12-30 15:05] mattheworiordan commented on #29
Ok, fine, but arguably what else would it be?

Fine, but referencing `io.ably.lib.Rest` does not prevent if from using `io.ably.lib.rest.Channel` and `io.ably.lib.Realtime` from using `io.ably.lib.realtime.Channel` so I am not clear on why it's a problem.

Well consistency is nice between the client libraries as much as possible

[2015-12-30 15:19] paddybyers commented on #29
An example app? `io.ably.examples.Chat` ?

If you're going to have a `rest` package to contain the REST API, it makes no sense to have all classes apart from the main one in that package; then you'd be forced to import that separately from the rest of the API and it's needlessly messy.

Typically someone will do

[code]

of course but things still need to be natural and idiomatic in the language i

[2015-12-30 15:23] mattheworiordan commented on #29
Ok, fine, thanks for clarifying.

We will need to figure out what is idiomatic for .net then and simply ensure it's consistent where possible.

[2016-01-02 19:33] mattheworiordan opened #32 "Xamarin build support"
Builds are currently failing because of a missing Xamarin target, see https://travis-ci.org/ably/ably-dotnet/builds/99849811

We need to add Xamarin support in Travis.  I have found a few examples online where it appears Xamarin is supported:

* http://stackoverflow.com/questions/16751772/how-do-i-use-travis-ci-with-c-sharp-or-f
* https://github.com/travis-ci/travis-ci/issues/649#issuecomment-2009

[2016-01-05 13:21] Const-me opened #33 "Per-instance loggers"
It's desirable to be able to have different loggers for different ably instances.

See also (RSC4) A custom logger can be provided in the constructor

[2016-01-08 11:27] mattheworiordan opened #34 "Do not persist authorise attributes force & timestamp"
A recent discovery in the iOS library has unearthed a small shortcoming in the spec, corrected at https://github.com/ably/docs/commit/f768f0db76020d945cf34974ef7d14d36113f0cd

[2016-01-21 13:14] mattheworiordan commented on #32
@Const-me is this resolved with #35?

[2016-01-21 13:16] mattheworiordan commented on #29
@Const-me what would you suggest here for .NET that is more idiomatic with .NET but as consistent as possible with Ably?

[2016-01-21 13:17] mattheworiordan commented on #18
Closed in favour of #32

[2016-01-21 13:17] #18 closed

[2016-01-21 13:58] Const-me commented on #32
No, not resolved.

And no, xamarin isn’t supported.
Looks like xamarin uses some .NET DLLs from xamarin’s OSX package.
That’s why you see words “xamarin” and “travis” together in the google output.

[2016-01-22 02:23] Const-me commented on #29
Never heard of any naming conventions regulating assembly names.
However, here’s my opinion about that:
(1)	I have never seen any .NET library with “.Lib” anywhere in assembly name of namespace.
(2)	Assembly name doesn’t matter much. Average developer won’t see that once, he’ll right click on references, manage nuget packages, search, add.
(3)	The classes name inside the namespace are better to be

[2016-01-22 09:59] mattheworiordan commented on #29
Thanks @Const-me

So what about the following

[code]

OK?

[2016-01-22 15:46] Const-me commented on #29
Yep, something like that.
I'd only make the namespace name IO.Ably, or better AblyIO

[2016-01-26 01:57] mattheworiordan commented on #29
Lets go with `IO.Ably` please

[2016-01-26 17:33] mattheworiordan commented on #25
@stannedelchev, we are unable to replicate this issue.

Can you confirm with version of WPF and .NET you are using?  Also, can you confirm that the issue still exists with the latest version?

[2016-01-27 20:54] stannedelchev commented on #25
@mattheworiordan The issue is still reproducing from 3ab4fa8c846ed1b4f99f0749cca4a572adba0118 , on an WPF app built against `.NET 4.5`, `4.5.1` and `4.6` and the Ably lib built against `4.5` .
PresentationFramework, PresentationCore and WindowsBase.dll are `v4.0.30319`.

As much as I don't like throwing executables around, here's a runnable build output: https://drive.google.com/file/d/0B1wSBoCynY

[2016-01-27 22:14] mattheworiordan commented on #25
Thanks @stannedelchev, great that we can now reproduce

[2016-02-01 00:51] Const-me commented on #25
Here's raw HTTP traffic, with encryption off:

GET /?access_token=&format=msgpack&client_id=stan HTTP/1.1
Upgrade: WebSocket
Connection: Upgrade
Sec-WebSocket-Version: 13
Sec-WebSocket-Key: MmQ0Nzc3OGYtMTE2Ni00NA==
Host: realtime.ably.io
Origin: ws://realtime.ably.io

HTTP/1.1 401 Unauthorized
Connection: close
Content-Type: text/html
Date: Mon, 01 Feb 2016 00:43:39 GMT
Content-Length: 0

[2016-02-01 09:36] mattheworiordan commented on #25
@Const-me there is no access token value hence why it's not authorised.

[2016-02-01 15:08] Const-me commented on #25
Hi. Could you please update from branch Token-auth-bugfix and retry?

[2016-02-12 14:59] stannedelchev commented on #25
OK, I've checked it, token auth seems to be connecting properly now on my side.

[2016-02-25 15:18] #25 closed

[2016-02-26 23:44] mattheworiordan opened #38 "Minor Crypto spec updates"
The specification is now finalised for the Crypto changes.

Please see ably/docs#89

We need to ensure this library complies with the changes described in the PR

[2016-02-29 13:38] mattheworiordan opened #39 "Add generic timeout for HTTP / Websocket requests"
See https://github.com/ably/ably-dotnet/pull/35

We may want to use the native timeouts or our own configurable.  To be reviewed

[2016-03-02 10:54] mattheworiordan opened #41 "Realtime constructor is blocking"
Once the async task based API is in effect, ensure Realtime constructor is no longer blocking

[2016-04-25 13:05] lovetofail opened #54 "UseBinaryProtocol causes presence data to become null"
Hello.
I'm using branch Async-Refactor-On-Master. With UseBinaryProtocol = true and Presence.EnterClient, associated clients data becomes null. Seems like an issue with MsgPack.
On a screenshot first connection UseBinaryProtocol = true, and second is UseBinaryProtocol = false
![capture](https://cloud.githubusercontent.com/assets/4531542/14784524/c3f9757c-0afe-11e6-87ba-63ff5d4957e9.PNG)

[code]
Th

[2016-04-25 14:31] mattheworiordan commented on #54
Hi @lovetofail, we're on it, we'll take a look to see if we an figure out what the problem is.  @marto83 mind taking a look?

[2016-04-25 15:54] marto83 commented on #54
@lovetofail I can reproduce it. As you suspected the data is not serialised at all when using msgpack. I'll get it fixed and let you know.

[2016-04-25 16:48] marto83 commented on #54
@lovetofail thanks for spotting those. Currently the Rest and Realtime clients use slightly different serializers. I'm working over the next couple of weeks to get this sorted. For the time being I patched how the Presence message is serialized so it should work now.

[2016-04-25 16:48] #54 closed

[2016-04-26 21:58] lovetofail opened #56 "Presence timestamp init issue"
Timestamp is wrong on channel.Presence.EnterClient
Video http://screencast.com/t/qJlIuMe8yyc
If I set a breakpoint in Presence_MessageReceived2 the date is correct though.
[code]

[2016-04-27 08:44] marto83 commented on #56
@lovetofail good spot. The Realtime Client is a bit unstanble at the moment. I'm reworking a lot of the internals now and will take me about a week or so to push a more stable version. I'll keep this bug open and will let you know once I push the new version.

Thanks you so much for going through it and finding these issues.

[2016-04-27 12:22] lovetofail commented on #56
Ok. I know that this is in development. Can I post here issues I find? Or should I create separate Issue everytime? If they aren't relevant just ignore them.

[code]
I'm getting System.String[]. Same happens if I use my custom class. It's fine with UseBinaryProtocol=false though;
[code]

[2016-04-27 12:41] marto83 commented on #56
I think it will be better to post separate issue. It will be a good test for me once I've finished the spec to go through the issues and make sure it will work as expected for you :)

[2016-05-14 07:56] lovetofail opened #58 "Custom AuthUrl gets called twice."
When I set my custom AuthUrl in a network sniffer I can see that it gets called twice each time.
[code]
I think it's something todo with this part
[code]

[2016-05-14 11:01] mattheworiordan commented on #58
Hi @lovetofail, which branch are you working off, or are you off master?  Can you confirm which version as we've been making a significant number of updates recently

[2016-05-14 11:13] lovetofail commented on #58
It's specs/realtime-connection-part2, but I'm seeing it for a few weeks at least.
https://github.com/ably/ably-dotnet/commit/c93ac172ca49c0431605c5e68cc58fe5567725f0

[2016-05-14 13:29] mattheworiordan commented on #58
@marto83 can you take a look please?

[2016-05-15 22:00] marto83 commented on #58
I'll have a look in the morning. Thanks for pointing it out

[2016-05-15 22:27] marto83 commented on #58
@lovetofail I had a look and can't replicate the issue. I suspect you are using on older version of the client and I'm only saying that because a week or so ago I changed the AuthUrl to be of type Uri so you'd need to do new Uri(....).

I also created a test for and this is the debug output from the test:
https://github.com/ably/ably-dotnet/commit/e0658bc417820077b5d75e8b121e61cac7ba7715

Ably: [D

[2016-05-16 06:16] lovetofail commented on #58
This is a project with Ably.ConsoleTest, if you need it https://www.dropbox.com/s/pxgpo6l6wnv0x0w/ably-dotnet.zip?dl=1
On a screenshot you can see that program calls requestToken twice
![capture](https://cloud.githubusercontent.com/assets/4531542/15281721/64d3b3c0-1b46-11e6-92cc-ec65f63a6c2c.PNG)

[2016-05-16 08:31] marto83 commented on #58
I see it now. Looking into it.

[2016-05-16 08:56] marto83 commented on #58
@lovetofail I found the issue. It is a race condition when the realtime client is initialised by default it automatically connects but when you call Connect straight after the client hasn't transition fully to Connecting so it retries again. I'll get that fixed.

Thank you again :)

[2016-05-16 09:35] marto83 commented on #58
@lovetofail. I've added an extra check to make sure that doesn't happen any more. Do you want to try again and let me know.
I'm finishing the connection specs today and will move to channels and presence.

[2016-05-16 11:17] lovetofail commented on #58
Seems to be fixed, but present when I call ablyRealtime.RestClient.Auth.RequestToken();
This is not urgent in any way. This library is already sufficient for my needs.

[code]
![capture](https://cloud.githubusercontent.com/assets/4531542/15288076/65a8a2e0-1b70-11e6-90a4-b0ff208c25e5.PNG)

[2016-05-16 11:44] marto83 commented on #58
@lovetofail that is expected. You are manually requesting a new token. It will not wait or reuse the current one the library has.
I'm going to close this issue but keep me posted if you find anything else.

[2016-05-16 11:44] #58 closed

[2016-05-17 16:25] marto83 opened #61 "Make Realtime channels implement IObservable for messages and state changes"
This will allow developers to easily use Rx.Net and simplify the workflow for consuming messages.

[2016-05-20 21:28] marto83 commented on #56
@lovetofail Just to let you know I'm getting on with Presence now.
If you are trying things out I fixed a lot of issues with channels in the spec/realtime-channels.
By the way I fixed the MsgPack serialisers so the above issue might be fixed. Haven't tested it yet!

Also if you are testing the library can you let me know whether you experience any threading and concurrency issues.

[2016-05-21 07:28] lovetofail opened #62 "Attaching to a channel fails."
https://github.com/ably/ably-dotnet/commit/3d37e26957be568a1417e5632ddea5ff595da5cc
Using Ably.ConsoleTest. The same with my other program. And with binaryprotocol off.
[code]
Ably: [Debug] 07:22:44.106 #11 #testchannel: Changing state to: 'Failed'. Error: Reason: Channel didn't attach within the default timeout; Code: 50000

[code]

[2016-05-21 11:45] marto83 commented on #62
I think it is something to do with the attached timer. I must have forgotten to clear it once the channel is attached . will get it fixed in a couple of hours .

[2016-05-21 13:55] marto83 commented on #62
@lovetofail. I've pushed a fix for it.

[2016-05-21 15:41] lovetofail commented on #62
Thanks, it's working now.

[2016-05-24 22:39] mattheworiordan commented on #62
@lovetofail you happy for us to close this issue?

[2016-05-24 22:58] lovetofail commented on #62
Yes, thank you

[2016-05-24 22:58] #62 closed

[2016-06-02 17:32] mattheworiordan opened #63 "Add reauth capability"
See https://github.com/ably/docs/pull/113 for the spec, and https://github.com/ably/ably-js/pull/269 for the JS implementation.  We need to implement this in this library soon.

[2016-06-05 09:37] lovetofail opened #64 "Collection was modified exception"
I'm rarely getting this error. Using latest commit.
After _queue.Remove(message); there is an exception saying Collection was modified for "messagesToRemove"
Also, is BinaryProtocol and Encryption implemented?

[code]

[2016-06-05 20:55] marto83 commented on #64
@lovetofail Sorry about the above. I'll get this fixed this evening.

Both the BinaryProtocol and Encryption are implemented. When creating a channel pass in ChannelOptions with either `encrypted = true`. This will generate a random key and encrypt all messages with it. However if you are using 2 different clients make sure you pass a static key.

Have a look at the GenerateKey function from the C

[2016-06-05 21:31] mattheworiordan commented on #56
@marto83 what is the status on this one?

[2016-06-05 21:55] marto83 commented on #56
@mattheworiordan this is still an issue with Presence message containing custom data and the binary serializer. I'll look into as a priority as it has been some time.

[2016-06-06 21:14] marto83 commented on #56
@lovetofail there was a presenceMessage serialization issue and I also fixed the missing timestamp. Let me know if you still get it.

[2016-06-06 21:56] lovetofail commented on #56
Thank you. useBinaryProtocol=true serialization seems to work as well as timestamp. Please, feel free to close issues. I just don't know when to do it.

[2016-06-07 09:42] marto83 commented on #56
Great to hear. I'll close the issue.

[2016-06-07 09:42] #56 closed

[2016-06-07 09:46] marto83 commented on #41
This is no longer an issue. The contructor is no longer blocking.

[2016-06-07 09:46] #41 closed

[2016-06-07 09:47] marto83 commented on #39
Realtime timeout can be configured using the ClientOptions and the defaults are based on the spec.

[2016-06-07 09:47] #39 closed

[2016-06-07 09:52] marto83 commented on #29
The namespace is now IO.Ably. Closing this issue.

[2016-06-07 09:52] #29 closed

[2016-06-07 09:54] marto83 commented on #34
That is done. https://github.com/ably/ably-dotnet/blob/v0.8/src/IO.Ably.Shared/AblyAuth.cs#L294

[2016-06-07 09:54] #34 closed

[2016-06-07 09:55] #11 closed

[2016-06-07 09:56] marto83 commented on #9
All of this is implemented in the v0.8 branch

[2016-06-07 09:56] #9 closed

[2016-06-07 09:57] marto83 commented on #10
I'm closing this as it is not up to date with the spec

[2016-06-07 09:57] #10 closed

[2016-06-07 09:59] marto83 commented on #17
Done! https://github.com/ably/ably-dotnet/blob/v0.8/src/IO.Ably.Shared/AblyAuth.cs#L263

[2016-06-07 09:59] #17 closed

[2016-06-07 10:00] marto83 commented on #26
Both the Rest and Realtime libraries fully support the Async pattern

[2016-06-07 10:00] #26 closed

[2016-06-08 22:43] lovetofail opened #65 "Expired token not renewed second time."
When token expires, it is renewed one time. But second time it isn't. Connection becomes Failed.
http://screencast.com/t/WMoxVyMGrQ

Looks like this method is not used anywhere.
[code]

[2016-06-09 14:11] lovetofail opened #66 "useBinaryProtocol=true memory leak?"
Second window on screenshots useBinaryProtocol=false
http://screencast.com/t/JXnX0mJnP
http://screencast.com/t/rolIHeptPGto
http://screencast.com/t/lrpooQDLuK

[code]

[2016-06-09 14:52] marto83 commented on #65
Thanks. Looking into it

[2016-06-09 14:53] marto83 commented on #66
I have an idea what could be causing this. I recreate the serialisers every time they are needed. I'll try and create them once per library instance and see if it helps.

[2016-06-09 23:06] marto83 commented on #65
@lovetofail I found the reason behind the issue. I just need to confirm and half fixed the issue. I just need to confirm the message I should expect after the connection has been resumed. I'll get it sorted in the morning.

[2016-06-09 23:07] marto83 commented on #66
That should be fixed now. I was initializing the context far too many times.

[2016-06-09 23:07] #66 closed

[2016-06-13 14:28] lovetofail opened #67 "Channel fails after token expiration."
Using latest commit. Token ttl 11min. Sometimes token reauth fails and then Channel and Connection are set to Failed set. I attached a log, maybe you can explain what is up.
This happens only sometimes. Can you advise on how to reattach to a channel in this case?
The code is basic realtime.Connect(); channel.Attach();
[code]

[2016-06-13 14:53] marto83 commented on #67
I did a change to queue messages system message during state transitions because I was getting a Disconnected and an Error message when the token expired. So the issue is that I'm processing the Error message once the state's gone back to Connected which is not good.
`Ably: [Debug] 02:13:43.297 #16 Proccessing queued message: { action=Error }`

I've been talking to @mattheworiordan about what to d

[2016-06-13 16:14] mattheworiordan commented on #67
Hi @lovetofail, apologies for this.  As @marto83 has quite rightly confirmed, this appears to be a protocol issue and not a dot net issue.  We'll get a fix out for this ASAP (today or tomorrow) or we'll implement a workaround in the short term.  Sorry for the inconvenience.

[2016-06-14 11:57] mattheworiordan commented on #67
@lovetofail we have rolled out a change to `sandbox` that has been tested with 3 client libs including .NET and it fixes this issue. We will test with our other libs now, and once ready, will roll this out to production.  I believe this issue will then go away.  That should be done art some point today.

[2016-06-14 14:35] lovetofail opened #68 "Possible minor issues"
I'm using PVS Studio addon for Visual Studio. It found some issues. Wondering if they are relevant
Always true http://screencast.com/t/XJc52lO3Zj
![2016-06-14_1727](https://cloud.githubusercontent.com/assets/4531542/16046603/b73d06d6-3255-11e6-82ac-774644e7b56c.png)

[2016-06-14 15:32] mattheworiordan commented on #67
Hi @lovetofail.  I am told this fix has been pushed out to production now.  Would you mind confirming if the issue has gone for you or not?  I expect you can test this easily by reducing the TTL down for your tokens, see `ttl` within https://www.ably.io/documentation/realtime/types#token-params

[2016-06-14 20:02] lovetofail opened #69 "Unable to recover connection: not found"
Ttl is 70 sec. After few reauths connection hangs. It says that it's Connected but in web dev console user leaves. Also you can see that in the end there is no reauths happening anymore.
http://pastebin.com/t29VgaDM

[2016-06-15 08:35] mattheworiordan opened #70 "Prioritisation"
- [x] Once over on the API and IDL to ensure it matches i.e. such as `Connection.On` missing
- [x] Merge all PRs and branches into `master` branch and ensure the example works using the correct API
- [x] Update README, see https://github.com/ably/ably-ruby/blob/master/README.md for an example of the required format and examples.  Add a notes section about any known incompatibilities or missing fun

[2016-06-15 11:33] marto83 commented on #69
@lovetofail seems to be an issue with the lib when it can't recover the previous connection. I'm looking into it today. The connected state doesn't fully attach and is not processing messages.
I've managed to replicate it and will get it fixed.

[2016-06-15 11:33] mattheworiordan commented on #69
Hi @lovetofail

So I can see the problem:

[code]

What this means is that the connection has not been able to resume for some reason.  Typically this happens because you have been disconnected for more than two minutes, but it is possible that connection state is lost for other edge case reasons.  In this case, I am going to look into why your connection state was lost, but regardless you should

[2016-06-15 11:37] marto83 commented on #68
Good catch. I'll get that fixed it needs to be && instead of ||

[2016-06-15 11:41] lovetofail commented on #68
Thanks. On the screenshot above you'll see other possible issues as well.

[2016-06-15 12:18] lovetofail commented on #69
http://pastebin.com/eVcqUJen
Connection state fails after few reauths.
I guess somewhat similar - "Unable to recover connection (connection expired)", "code" : 80008, "statusCode" : 404
[code]

[2016-06-15 12:21] mattheworiordan commented on #69
@lovetofail want to chat on Slack, might be easier to get to the bottom of all this and get this resolved?  I can send you an invite, just send an email to support@ably.io and I will add your email to our Slack channel.

Also, thanks for all your help finding issue with the .NET lib.  As you know, it's had a lot of work done to it recently so having your help is HUGELY appreciated.

[2016-06-15 13:52] mattheworiordan opened #71 "Xamarin incompatible depedency"
Got this when trying to use the package on Xamarin:

[code]

[2016-06-23 09:56] lovetofail opened #72 "NullReferenceException in ConnectionManager.cs"
Using latest commit. Not happens often. May be relevant, I don't know.
[code]

[2016-06-23 10:38] mattheworiordan commented on #72
Noted @lovetofail, we'll look into it.

[2016-06-24 08:48] marto83 commented on #72
@lovetofail I see how this could happen from time to time. I'll add a check to make sure a valid state is always returned even if the Transport has been destroyed.

[2016-06-27 12:42] #64 closed

[2016-06-28 06:52] mattheworiordan opened #73 "Async await & exception pattern"
@marto83 as discussed, we should be consistent throughout the API by raising exceptions whenever a customer writes synchronous looking code with the use of exceptions.  This will be consistent with the REST API

[2016-06-28 22:34] mattheworiordan opened #74 "authUrl authentication fails"
@marto83 please see the log below for a customer using the `ClientOptions` `authUrl` option:

[code]

@marto83  can you please advise what the issue is?

[2016-06-28 22:37] mattheworiordan opened #75 "authCallback does not support TokenRequest or token string"
See http://docs.ably.io/client-lib-development-guide/features/#RSA8d, then see https://github.com/ably/ably-dotnet/blob/master/src/IO.Ably.Shared/AuthOptions.cs#L18

It appears that `authCallback` does not allow a TokenRequest or token string to be passed in.

Also, can you advise how we should recommend users retrieve a JSON object via HTTP and then convert that to a `TokenDetails` or `TokenReque

[2016-06-29 07:41] marto83 commented on #74
This seems odd. Do you have details about what exact settings were used. I have an idea and will try and replicate it shortly.

[2016-06-29 07:58] mattheworiordan commented on #75
@marto83 have you misread the issue perhaps?  We are talking here about `authCallback`, not `authUrl`, so there is no content type

[2016-06-29 07:59] mattheworiordan commented on #74
No, but I can email the customer directly if you have a specific question?

[2016-06-29 08:15] marto83 commented on #75
oh yes. You are right. AuthCallback only allows TokenDetails. I'll update it to access an object back and then try to figure out what it is.
So we should support: `string` for token', 'TokenDetails` and `TokenRequest`. Correct?

[2016-06-29 08:39] tulpn commented on #74
The log was generated by using the following code:

[code]
After further investigation I recognised that the return value from the URL was not correctly formatted. I changed it to (python):

[code]

Seem to have resolved the issue.

[2016-06-29 09:36] mattheworiordan commented on #75
Correct
On Wed, 29 Jun 2016 at 09:15, Martin Georgiev <notifications@github.com>
wrote:

--
Matthew O'Riordan
CEO
Ably - simply better realtime messaging <https://www.ably.io>

[2016-06-29 09:39] marto83 commented on #74
Thank @tulpn. What TTL do you use? The current token expiry time is set to 3600 ms after it was created.
based on this line: `Ably: [Debug] 08:45:24.535 #33 Response: { "token" : "....1ZvUvdWAUfu_ophFwzYPOb5PpyleFQ7gwqb3jlNcwHXCTFC74", "keyName" : "....", "issued" : 1467189926092, "expires" : 1467189929692, "capability" : "{\"*\":[\"*\"]}", "clientId" : "a012a914-cce6-096c-4a02-a29da51dbc58" }`

[2016-06-29 09:46] tulpn commented on #74
Well, makes sense. Copy & Paste error. I took a TTL of 3600 by copying the code of "Generate a TokenRequest"  https://github.com/ably/ably-python

[2016-06-29 09:54] marto83 commented on #74
Great. Let me know if you have any other issues. I'll going to add some validation of the json returned from the AuthUrl so you can get a better error message.

Are you happy for me to close this issue?

[2016-06-29 09:55] marto83 opened #76 "Validate json returned by AuthUrl"
- Ensure the json returned from the AuthUrl is a valid TokenDetails or TokenRequest.
- Log the json returned in Debug Mode
- Throw a meaningful exception if json is in wrong format.

[2016-06-29 10:02] tulpn commented on #74
Yes. Thank you for your help.

[2016-06-29 10:20] #74 closed

[2016-06-30 18:26] lovetofail commented on #72
Got this exception today.
[code]

[2016-07-01 10:10] marto83 commented on #72
The library received a message it couldn't deserialise but continued to try and process it. That's where it failed. I'll add a check to ignore data that does not deserialise as a Message.

Thanks for pointing this out. I'll just double check with @mattheworiordan what the desired behaviour should be and I'll push a fix by the end of the day.

[2016-07-01 10:11] mattheworiordan commented on #72
@marto83 I believe http://docs.ably.io/client-lib-development-guide/features/#RSL6b covers that scenario.  The message must be delivered, but in an encoded format with the encoding attribute populated, and an error should be emitted on the channel

[2016-07-04 09:17] mattheworiordan opened #77 "Update docs about using with Xamarin"
Add a Xamarin / Xamarin Forms section to the README explaining that one of our dependencies for WebSockets is not portable so you have to install the packages for each target separately (i.e. not portable but shared).

[2016-07-05 21:55] marto83 commented on #71
Closing this as it will be covered by #77

[2016-07-05 21:55] #71 closed

[2016-07-13 08:19] mattheworiordan opened #78 "Important: Ensure DETACHED or DISCONNECTED with error is non-fatal"
See a bug discovered today at https://github.com/ably/ably-js/issues/312 for ably-js.

This is quite problematic because if we explicitly have to DETACH a channel (due to a timeout for example), then the client now will move the channel into the failed state.  This means most customers will never re-attach that channel automatically, see https://www.ably.io/documentation/realtime/connection#handli

[2016-07-27 07:44] mattheworiordan opened #79 "Xamarin multiple platform target support"
We have had this reported from a customer:

Given it appears that only the WS library is causing this issue, is it worth considering swapping it out with https://github.com/NVentimiglia/Websockets.PCL?

[2016-07-29 18:31] mattheworiordan opened #80 "Sync REST methods"
Instead of expecting customers to use `OperationAsync.GetAwaiter().GetResult()` for all Async options in the REST API when they cannot use `await` we should offer a REST API as well

[2016-08-01 01:47] mattheworiordan opened #81 "Various inconsistencies following review of documentation"
@marto83 please see the .NET docs you worked on and the commits I added on top at https://github.com/ably/docs/pull/138.  I have merged that in now and am about to deploy to the main website.

Whilst working through the docs, I wrote down various notes in regards to inconsistencies in the .NET lib from the spec / other libraries.
- [x] Having the public methods capitalised in C# and not in any oth

[2016-08-03 20:55] marto83 commented on #80
Added Sync Extension methods with this commit. 41ac58b41d9685777b065afb228db7c3e6a6961d

Users will need to add an extra namespace to use them. I'd for people to use the async methods if possible and have the sync ones for when they are needed.

Still need to update the readme file.

[2016-08-08 08:17] marto83 commented on #81
I've added IsLast property to PaginatedResult

[2016-08-08 08:20] marto83 commented on #81
Regarding Capability examples. Have a look at https://github.com/ably/ably-dotnet/blob/b9e4c355ac487e187a6e49879f0c7760677edc1b/src/IO.Ably.Tests/CapabilityTests.cs
I did the class about a couple of years ago. We should go over it to make sure it supports the full capability spec.

[2016-08-08 08:22] marto83 commented on #81
`TokenRequest` is not a class that the user creates manually. That's why I left everything raw so it is easier to pass it back and forth. Having said that if you prefer I can change the types.

[2016-08-08 08:25] marto83 commented on #81
I renamed StatsIntervalGranularity -> StatsGranularity. Should I keep it like that or change it back.

[2016-08-08 10:14] mattheworiordan commented on #81
It looks right so long as you can confirm users can:
* Assign Publish, Subscribe, History, Presence, Statistics as privileges
* Can choose to provide a JSON string instead of a Capability object for consistency with other libraries.

But they access that `TokenRequest` when calling `CreateTokenRequest`, and then the types are not valid, so I don't see any good reason to use the wrong types here.

[2016-08-08 17:25] marto83 commented on #81
`HasNext` and `SyncComplete` are both properties. They just use the c# shortcut syntax https://github.com/dotnet/roslyn/wiki/New-Language-Features-in-C%23-6#expression-bodies-on-property-like-function-members

[2016-08-09 09:24] mattheworiordan commented on #81
Ok, thanks for clarifying, not seen that before.  I'm an old school C# dev :)

[2016-08-09 10:06] marto83 commented on #81
I can't figure out why I would have changed the TokenRequest properties to strings. I've changed them back. Need to check the msgpack serialisation to make sure it still works ok.
I'm moving on to making all properties uppercase. I remember Kosta made the lower case for serialisation reasons but it's not difficult to change them back.

[2016-08-25 10:13] mattheworiordan opened #82 "Include version info in requests"
See https://github.com/ably/ably-java/pull/144 and https://github.com/ably/ably-java/pull/143, which is part of the 0.9 spec, but is key for us to keep track of who is using older versions.

We should add this into this 0.8 branch of the .NET lib

[2016-08-25 10:15] mattheworiordan opened #83 "Interoperability tests"
See http://docs.ably.io/client-lib-development-guide/features/#RSL6a1, https://github.com/ably/ably-ruby/pull/94 and https://github.com/ably/ably-java/pull/140

We discovered that not all client libraries are interoperable as expected, so we now have fixtures to ensure this is the case both for encoding & decoding.

We should prioritise this

[2016-08-25 10:40] marto83 commented on #80
UPDATE:
Add the sync methods to the Rest interfaces and not the Realtime ones.

[2016-09-19 21:31] marto83 commented on #82
@mattheworiordan is that only for the Rest library.

[2016-09-19 21:46] marto83 commented on #82
Also what format do you want to have for these. I've set it to `IO.Ably-0.8.3.0`. Let me know if you would like it changed :)

[2016-09-20 12:37] mattheworiordan commented on #82
See http://docs.ably.io/client-lib-development-guide/features/#RSC7b for more info on version format.

Your version unfortunately has no mention of the client library itself, so it should be something like `dotnet-0.8.3`.  Also, you have appended an additional version number in your example above, our versions are always three pairs i.e. `0.8.3`.

Thanks

[2016-09-21 15:53] pseabury opened #84 "Setting UseBinaryProtocol = true prevents client connection"
If I simply try to connect using the AblyRealtime client with the setting [UseBinaryProtocol = true], the client never transitions from connecting=>connected.  If I set [UseBinaryProtocol = false], the client connects correctly.  The settings class is left out but you can simply replace your key and clientId.

[code]

[2016-09-21 16:00] mattheworiordan commented on #84
Sorry about this @pseabury. We'll take a look shortly although our .NET guy is not here today.

[2016-09-21 16:16] marto83 commented on #84
Hi @pseabury. Can you set the LogLevel to `Debug` at the beginning of the test - `Logger.LogLevel = LogLevel.Debug;`. It will output verbose messages to the Debug window.

[2016-09-21 18:15] pseabury commented on #84
I made the logging change, but see no additional output in the debug window.

[2016-09-21 21:29] marto83 commented on #84
@pseabury. That's really weird. I can't replicate it locally.
I haven't tried with MS Test but with XUnit the following test passes.

            //Rest.Test().Wait();
            var options = new ClientOptions("[key]")
            {
                ClientId = "test",
                Tls = true,
                UseBinaryProtocol = true,

            };
            var client = new AblyRealtime(op

[2016-09-21 21:43] marto83 commented on #84
I've run the same test under MsTest and it works correctly. Here is the expected output:

[code]

I get it when I debug the test.

It is just odd that it doesn't work with the binary protocal but works with json. Can you give me more details about your setup?
What version of Visual studio?
What is the .net framework version you are using?

[2016-09-21 21:57] pseabury commented on #84
Originally I wrote this test case because my application code (ASP.NET MVC/WebApi 4.5.2) wasn't connecting.  In the same solution I created a test project and wrote the test code above, with the same result - no connection with binary enabled.

I just created a completely new solution with a console application, and the connection does indeed work.  Any ideas about using this setup in a web projec

[2016-09-21 22:04] marto83 commented on #84
I see. I'll create a .net MVC app tomorrow and give it a try.

Do you mind me asking how you are using the Realtime library in an MVC application? Do you keep it running in the backgroud to receive messages?

[2016-09-21 22:12] pseabury commented on #84
Use the .NET realtime client to push application events to the browser via javascript.  Similar to Signal-R but hopefully better supported, easier to use, more scalable.  I do it this way because I want the server side to be the authority for timestamps, transactional behavior etc.

Basically pub/sub to push change events to all of the connected clients.  With Signal-R this was complicated by the

[2016-09-22 08:47] marto83 commented on #84
I wonder if it is something to do with the default .Net MVC Synchronization context.
Can you try and set `CaptureCurrentSynchronizationContext` option to `false`?

Usually the Rest client is a better fit for web applications. It supports async and sync actions and you can batch send messages. Unless you need to receive messages Rest works better.

[2016-09-22 13:44] pseabury commented on #84
I've been poking around a bit at your suggestion, but honestly not sure how/where to modify the SyncContext.
[code]

[2016-09-22 16:57] marto83 commented on #84
Do you mind sharing the code where you init the Realtime library?

[2016-09-22 17:12] pseabury commented on #84
It's just above in my first post in this thread.

[2016-09-23 09:25] marto83 commented on #84
@pseabury.

Please find the attached Web project which has an MVC site with Ably sending messages on Home controller and getting the history on the About Controller.

I also had to disable the CaptureCurrentSynchronizationContext. I initialise the library on application start.

If that doesn't help can you create a sample project where I can replicate the exact issues you are having.
[AblyTest.zip

[2016-09-23 14:04] pseabury commented on #84
First off, thanks for taking the time to work through this with me.

I traced the issue in my Solutions to the fact that I updated the MsgPack.Cli package to 0.8.0, which indicates as compatible.  If I back off to v0.6.8 of that package, I can use binary protocol and the client doesn't feeeze up.  If I use version 0.8.0, then even with CaptureCurrentSynchronizationContext = false doesn't help.  Th

[2016-09-23 16:24] marto83 commented on #84
Paul,

Good find about the MsgPack.Cli. The next version 0.8.4 uses the latest update of MsgPack. It should be out in the next couple of weeks

Regarding SyncContext it is mainly used when you have a UI thread and all the components on the UI thread can only be updated on that thread. So the library tries to be helpful and makes sure it calls the events and callbacks on the thread that initiated i

[2016-09-23 16:31] pseabury commented on #84
No, so far I just send.

Thanks Martin!

[2016-09-23 16:43] marto83 commented on #84
Cool. If you don't plant to use it for receiving I would use the AblyRest
class. It will make things much easier to use and test.

On Fri, 23 Sep 2016, 17:31 pseabury, <notifications@github.com> wrote:

[2016-09-25 20:57] mattheworiordan commented on #84
@pseabury just checking in to make sure you're happy with things and it's all working OK?

[2016-09-25 21:59] pseabury commented on #84
Yes thanks for checking.  I just backed out the latest version of the dependency and all is working.  I will likely switch to the REST client soon.

Paul M. Seabury

On Sun, Sep 25, 2016 at 3:57 PM -0500, "mattheworiordan" <notifications@github.com> wrote:

@pseabury just checking in to make sure you're happy with things and it's all working OK?

—
You are receiving this because you were mentioned

[2016-10-03 22:40] marto83 commented on #80
I've moved the sync methods from extensions to members of the actual rest interfaces.

[2016-10-04 21:13] mattheworiordan commented on #84
@marto83 is UseBinaryProtocol set to false by default?  It should be true by default, see http://docs.ably.io/client-lib-development-guide/features/#RSC8a

[2016-10-04 21:16] mattheworiordan commented on #80
Should we not update the documentation somewhere to reflect this?  Perhaps we should keep a separate issue to track documentation updates so we can do in one batch?  BTW. We also have tutorials now, see https://www.ably.io/tutorials.  Would be nice to have one for Xamarin at least and perhaps one for server-side .NET.  Will see if we can get someone on our end to do that.

[2016-10-05 10:26] mattheworiordan commented on #84
@marto83 unfortunately this issue is not fixed I believe.  This from a user today:

[2016-10-05 10:41] marto83 commented on #84
The issue is in MsgPack version 0.8. You need to use v0.6.8 for version
0.8.3 of Ably.

Version 0.8.4 is ready but I need to make sure all the tests pass
everytime. Expect a release by Friday.

M

On Wed, Oct 5, 2016 at 11:26 AM mattheworiordan <notifications@github.com>
wrote:

[2016-10-06 10:40] lovetofail opened #85 "Various null reference exceptions"
Hi I'm using this revision 330f536d28ae703701b2dc565f12a3ce561cce75
A few kind of exceptions pop up from time. Maybe you can spot some issues.

Also, should I close myself issues that I've opened in the past?

[_Exceptions.txt](https://github.com/ably/ably-dotnet/files/513471/_Exceptions.txt)
'''
Exception:System.AggregateException: A Task's exception(s) were not observed either by Waiting on the

[2016-10-06 11:44] mattheworiordan commented on #85
Thanks @lovetofail for notifying us.  We'll get back to you soon on this.

[2016-10-08 12:01] marto83 commented on #85
Hi lovetofail.

I had a look and this happens if we call in quick succession DestroyTransport. I suspect one happens when a message was received while the transport was being disposed.

I haven't managed to reproduce it. I'll add a guard clause around destroy transport and will add a lock to make sure we can't call destroy transport twice.

P.S. I'll go through the old tickets now and close them.

[2016-10-08 12:01] #5 closed

[2016-10-08 12:03] marto83 commented on #19
Changelog is now included in the repo and I tag each release.

[2016-10-08 12:03] #19 closed

[2016-10-08 12:07] marto83 commented on #27
Closing as this is no longer relevant. All Rest calls have sync and async versions.

[2016-10-08 12:07] #27 closed

[2016-10-08 12:09] marto83 commented on #32
Xamarin support exists from version 0.8.3.
Support for portable libraries will come in future releases.

[2016-10-08 12:09] #32 closed

[2016-10-08 12:10] marto83 commented on #33
I think this is a minor nice to have and in most cases you won't have multiple instances running in the same environment.
Closing for now. If requested we can reopen it later.

[2016-10-08 12:15] marto83 commented on #38
I think this can be closed. I'll try and find the commit.

[2016-10-08 12:16] #65 closed

[2016-10-08 12:16] #67 closed

[2016-10-08 12:17] #72 closed

[2016-10-08 12:20] #69 closed

[2016-10-09 12:42] mattheworiordan commented on #33
Ok, but can you set the log level in ClientOptions when instanced like all other client libraries?  If not, we need to raise an issue for that.

[2016-10-18 16:56] mattheworiordan commented on #84
@marto83 was this released?

[2016-10-18 16:57] mattheworiordan commented on #85
@marto83 any update on this?

[2016-10-18 17:02] mattheworiordan opened #86 "Token request timeout, channel attach failure and debugging"
@marto83 this from a client stating they cannot connect to Ably (well the channel):

[code]

I think there are a few problems here:

* [ ] It seems the requestToken request is made but there is no feedback on the result.  I've searched the logs on our end and seen no indication of any failures or timeouts
* [ ] It looks like the channel attach is timing out yet there is no connection.  I do not th

[2016-10-19 09:20] marto83 commented on #86
Can you let me know all the versions of the dependencies the customer is using?

Also does it work when using TextEncoding instead of Binary.

[2016-10-19 12:33] tulpn commented on #86
Hi marto83,
We are using 0.8.3, the latest version installed via the NuGet Package Manager.

The dependencies installed are:

[code]

We are sending custom headers along to the Auth URL as well:

This is our setup:
[code]

Before the upgrade this code worked perfectly fine in our DEBUG/staging built. However, once we set it to production we experienced these issues.

[2016-10-20 15:13] mattheworiordan commented on #86
@marto83 this from the customer when using text protocol:

[2016-10-20 16:43] marto83 commented on #86
@tulpn Everything looks right with you setup.

I'm going to send you a debug build that will include more logging around sending the request.

It sounds like something is going wrong during auth. Do you control this endpoint `https://api.CUSTOMER.com/rtc/auth/`? If you do can you see in the logs whether it's being accessed at all.

[2016-10-20 16:47] tulpn commented on #86
@marto83 yes, indeed we are controlling that URL and I can see from the logs the requests to our endpoint.

[2016-10-20 17:05] marto83 commented on #86
@tulpn Can you send me the format of the returned json? There is a bug on this version where it doesn't support all the different types specified in the Spec.

[2016-10-20 17:23] tulpn commented on #86
OK the JSON return is:

`{'nonce': '...4073', 'timestamp': 1476984110974, 'clientId': '...e098a', 'capability': u'{"*": ["*"]}', 'mac': u'...5ZKg=', 'keyName': '...Xjw', 'ttl': 3600000}`

[2016-10-20 18:53] marto83 commented on #86
that looks good as well. It's probably a long shot but does it have application/json Content-Type Header.

I'm going to check if the capability parsing is ok. I'll try and get a version of extra logging to you asap. It's not anything obvious but it does seem like it happens in the library.

[2016-10-20 21:35] tulpn commented on #86
Yes, it does have that as well. When we had it running in DEBUG & dev environment everything was working fine, there wasn't any change of code. Even when we upgraded from 0.8.2-beta to 0.8.3.

[2016-10-21 10:59] marto83 commented on #86
@tulpn I've added some extra logging so we can see the request and response when request token happens. Are you using the .net 4.5 version of the dll? Let me know and I'll send you the dlls.

[2016-10-21 11:16] marto83 commented on #86
[io.ably-0.8.3-custom.zip](https://github.com/ably/ably-dotnet/files/544193/io.ably-0.8.3-custom.zip)

Can you use this version and let me know what the logs show.
Thanks. Hopefully we should be able to figure it out now.

[2016-10-24 09:19] tulpn commented on #86
We have used the custom build and it produced the following output;

`09:16:00.697 #23 xx Connecting: BeforeTransition: CLIENT Ably: [{0}] {1}
09:16:00.698 #23 Connection notifying subscribers for state change `Connecting`: CLIENT Ably: [{0}] {1}
09:16:00.698 #23 xx Connecting: Attaching state : CLIENT Ably: [{0}] {1}
09:16:00.700 #23 Creating transport: CLIENT Ably: [{0}] {1}
09:16:00.702 #10 #pr

[2016-10-24 10:10] marto83 commented on #86
It's ok to be a partial url. Internally the host it set depending on the fallback settings. I don't think it being https should be an issue.

What is happening here is the request is about to be made but it fails silently before even the goes to the internal HttpClient. I suspect it is happening when trying to set the body.

I'll try to put a try catch around that section and will send you another

[2016-10-24 10:10] tulpn commented on #86
Sure. Sounds good to me.

[2016-10-24 10:48] marto83 commented on #86
Hi @tulpn. Here is another custom build:
[Ably 0.8.3 custom v2.zip](https://github.com/ably/ably-dotnet/files/547524/Ably.0.8.3.custom.v2.zip)

I've added more logging and I wrapped the suspected part in a try catch block to see if anything happens there.

Also if you want you can add me to skype (same username) so we can continue the discussion quicker.

[2016-10-24 12:43] marto83 commented on #86
The issue was caused by MsgPack library failing to encode the TokenRequest and crashing the ConnectionManager thread.

The current workaround is to use the Json protocol until 0.8.4 is released.

[2016-10-24 12:43] #86 closed

[2016-11-11 20:44] mattheworiordan opened #87 "The type initializer for 'IO.Ably.MsgPackHelper' threw an exception. Method not found: '!!0[] System.Array.Empty()'."
Customer reporting the error when publishing with simple code like this in their QA/CI env:

[code]

Stack trace below:

[code]

[2016-11-11 22:15] marto83 commented on #87
Hi Matt. Which version of the library is this from 0.8.3 or 0.8.4-rc1

On Fri, 11 Nov 2016, 20:44 mattheworiordan, <notifications@github.com>
wrote:

[2016-11-12 15:22] mattheworiordan commented on #87
Unlikely to be 0.8.4-rc1, I will check, but assume 0.8.3 unless you hear otherwise

[2016-11-12 16:03] marto83 commented on #87
0.8.4 will pass the version when making a connection. The issue is cause by
the way nuget makes dependency upgrades. They will need to downgrade
MsgPack to version 0.6.8 or upgrade the ably library to the next version.

On Sat, 12 Nov 2016, 15:22 mattheworiordan, <notifications@github.com>
wrote:

[2016-11-12 17:34] mattheworiordan commented on #87
@marto83 the customer is already using 0.8.4-rc1

[2016-11-12 17:57] marto83 commented on #87
I read the error message again. It seems to be something specific to the
received message.

Can you ask them for a debug log output? This now can be done using the
ClientOptions. They switch to 'usebinaryprotocol' = false for the time
being until I figure out what's causing it.

On Sat, 12 Nov 2016, 17:34 mattheworiordan, <notifications@github.com>
wrote:

[2016-11-12 17:59] mattheworiordan commented on #87
Asked customer to monitor this issue as it's getting a bit silly acting as a conduit!

[2016-11-12 18:49] gwestwater commented on #87
How do I enabled the debug log output specific to what you are looking for?

Or are you just looking for a stack trace?

[2016-11-12 19:02] mattheworiordan commented on #87
You can set the static logger log level to verbose at https://github.com/ably/ably-dotnet/blob/master/src/IO.Ably.Shared/Logger.cs#L42.

Once you do that, it will perform verbose logging everywhere.  If you could perhaps email that log to support@ably.io as it may contain sensitive info then we can review in detail.

Thanks.

[2016-11-12 19:36] gwestwater commented on #87
I will do that at my next possible opportunity thank you

[2016-11-16 11:11] mattheworiordan commented on #87
Hi @gwestwater, any chance you had time to do that and send us the log?

[2017-01-27 18:07] mattheworiordan opened #90 "Universal Windows Platform support"
@marto83 creating this issue to track your progress with UWP support.

Please post updates following your spike here and I will tell customers to track this issue.

[2017-01-30 17:37] mattheworiordan opened #91 "Possible NewtonSoft incompatibility"
This from a customer:

From the attachment sent:

![image](https://cloud.githubusercontent.com/assets/43789/22434039/62c40006-e712-11e6-87c7-00717bbb5baf.png)

![image](https://cloud.githubusercontent.com/assets/43789/22434058/759897be-e712-11e6-84e7-2e279b9ffeaf.png)

![voila_capture 2017-01-30_05-35-31_pm](https://cloud.githubusercontent.com/assets/43789/22434102/a393d8a4-e712-11e6-96f7-2bdfc63c

[2017-02-06 11:40] mattheworiordan commented on #91
This again from the customer following an update to resolve the issue:

![image](https://cloud.githubusercontent.com/assets/43789/22645842/08f51548-ec61-11e6-87b6-e63886ad80c2.png)

[2017-02-06 14:09] marto83 commented on #91
.net 4.5 assemblies are compatible with 4.6.2 so I don't think that should the issue. I tried to reproduce the error and can successfully compile the following code using the provided dll.

      var options = new ClientOptions("") { UseBinaryProtocol = false};
      var ably = new AblyRealtime(options);
      ably.Connect();

       var token = ably.Auth.RequestToken();

       Console.WriteLine(

[2017-02-06 23:38] marto83 commented on #91
I've published a beta package on nuget that has only 1 external dependency `MsgPack` and everything else has been merged in to make sure there are no conflicts.
It can be installed using - `Install-Package ably.io -Pre`

Let me know if the same issue persists.

[2017-02-09 16:04] drachele opened #92 "Ability to set the JsonSerializerSettings"
Hi,

Would it be possible to add a setting or property to the Ably client to allow customization of the Json serializer settings?

For example, we would like to be able to use a different **ContractResolver** in order to set the property names of our model objects automatically using the **CamelCasePropertyNamesContractResolver** when they are processed by Ably.

Thanks,

Dan.

[2017-02-09 20:29] mattheworiordan commented on #92
Dan, we've discussed this type of thing in other statically typed libraries as well in fact.  It's a bit tricky because the interface we need to expose needs to be generic, so we have to be careful about implementing features that are specific to a particular trend or need by a user.

Can you explain what the problem is by not having this feature?  I'd like to have a think about the problem domain

[2017-02-09 20:42] drachele commented on #92
Hi Matt,

We are in the process of switching to Ably from another provider. We have an existing codebase with a complex domain model that contains a _LOT_ of model classes with a _LOT_ of properties. The front-end code has been written to use JSON objects with camel-case property names. Previously, we defined which JSON resolver we wanted to use and pushed the objects to the API. This took care of

[2017-02-09 21:26] mattheworiordan commented on #92
Ok, thanks for the explanation Dan.

I will get the others to have a look at this, but if the front end client (which I assume is Javascript) relies on camelCase for the data payloads, and your .NET code currently uses another format, why not simply have a middleware encoder / decoder that handles receiving data from Ably and publishing data to Ably, and it itself uses a `CamelCasePropertyNamesCon

[2017-02-09 21:37] drachele commented on #92
Not that I know of, we just wanted to make minimal changes to both the frontend and backend code.

FYI, a certain mutual acquaintance of ours has provided a solution on the .NET backend which seems to work without having to make any changes to the frontend JavaScript code...

[2017-02-12 11:45] siberianguy opened #93 "ASP.NET Core support"
Tried to use Ably .NET library in netcoreapp1.1 application, but it seems to be incompatible with .NET Core. What's the status of .NET Core support?

[2017-02-12 13:46] siberianguy opened #94 "Async Subscribe and handlers"
It seems like Subscribe process lacks async support in two ways.

First, there is no async version of Subscribe method.

Second, there's no way to specify async handler for Subscribe. So I can not use await as part of my handler. To fix that, there should be Subscribe overload that takes Func<Message, Task> instead of Action<Message> as argument.

[2017-02-13 12:49] mattheworiordan commented on #94
Thanks for the feedback @alexidsa, I'll get @marto83 (the maintainer of this live) to provide his thoughts.

[2017-02-13 12:50] mattheworiordan commented on #93
We started working on adding .NET Core support about 1.5 weeks ago.  Unfortunately we hit an issue with the WebSocket lib, so we're now looking to swap that out with another lib.  We're hoping we'll be adding support quite soon.

[2017-02-13 13:27] alexidsa commented on #93
Thanks for the information. Looking forward to it. By the way, great library guys. And great product overall (you just got it right, brilliant). Migrating from Pubnub, feels so good.

[2017-02-13 13:28] marto83 commented on #94
@alexidsa I cannot see a need to have an async version for the Subscribe method. Out of curiosity in what circumstance would you need an async Subscribe method?

I do like the idea of allowing for async handlers to be passed. It shouldn't be a big change. I'll get that added to the list for the next release.

[2017-02-13 13:33] alexidsa commented on #94
@marto83, well... it all comes down to a question how long does it take to make Subscribe synchronously? Can it block, let's say, WPF application even for a little bit being executed in UI thread? I guess it should take around what Entity Framework's DataContext.SaveChanges method takes and EF provides async overload.

[2017-02-13 13:45] marto83 commented on #94
I see what you mean. The Subscribe method can be run synchronously. All it does is registers a handler internally so next time a message arrives the library will go through all the registered handlers and decide whether they need to be executed or not. It doesn't do any IO.

[2017-02-13 13:50] alexidsa commented on #94
Hm... Now I'm really confused. I expected it tell the server "next time broadcast to this channel, let me know as I care about this channel now". It is'l like you say, it means all messages are sent by the server to all connected clients both to those which subscribed and those who did not?

[2017-02-13 14:13] marto83 commented on #94
You tell the server that you care about a channel when you create a channel and `Attach` it. The attach operation can be explicit by calling AttachAsync or it can be done implicitly by other operations.
So when you call `Subscribe` if the channel is not yet attached in the background it will attempt to attach the channel. It does not block the current thread as it is done on a managed thread insid

[2017-02-13 14:50] alexidsa commented on #94
Thanks for the explanation, now it all makes sense. So with current implementation when Subscribe call is returned I still can be not subscribed (if background attachment is not done yet). From architecture point of view, it would be better to call AttachAsync as part of subscribe (if it's the first subscribe to this channel, so we're not attached) and that's where we need SubscribeAsync :)

[2017-02-13 15:06] marto83 commented on #94
So if you want to find out whether you have attached to the channel you can subscribe to get `StateChanged` events on the channel itself. I would leave the `Attach` happen in the background. It is one less thing you need to worry about.
If you want to handle the case where `Attach` fails for some reason you can do that by reacting to a `StateChanged` events.

[2017-02-14 10:45] mattheworiordan commented on #91
@marto83 the customer who had this issue has confirmed this resolved the problem.  Should we close this issue once that change is published on Nuget and on master?

[2017-02-14 11:24] alexidsa commented on #94
You're 100% right from implementation point of view. But from library user point of view it looks a little bit different.

Attach seems like an implementation detail that should be hidden inside. I don't see why I would like to call it explicitly. When Subscribe method is returned I expect to be subscribed (physically). When Close method is returned, I expect the server to be already notified abou

[2017-02-14 15:17] mattheworiordan commented on #94
@alexidsa so let me cover off some of this because this is not a .Net issue but simply details on how our API works.

Channels can be attached and not subscribed. There are many reasons for this, including wanting to reserve capacity on a channel for publishing reasons.  If you don't do that, and no one else is attached to a channel, then the channel is only created when you publish to it or subsc

[2017-02-17 11:14] alexidsa commented on #94
First, I'm definitely nitpicking here as the library itself (and ably in general) are great products (I used pubnub before so I have something to compare with). But the way async stuff is implemented in Ably.net does not seem to fit .net ecosystem (based on the Ably documentation, the goal is to create idiomatic API).

When I call DataContext.SaveChanges, I know it's a synchronous method and it's

[2017-02-17 11:42] mattheworiordan commented on #94
@alexidsa I am not really following you.

Callbacks are provided MOSTLY because it's not a single operation, the callback is called every time that event happens.  So async/await is not relevant.

Subscribe is not a blocking operation, and in a lot of cases, there is nothing to wait for because the channel is already attached for example.  Subscribe is about adding a listener that is called whenev

[2017-02-17 14:39] alexidsa commented on #94
As they say in Facebook, code always wins. So let me try to explain my logic using the codebase.

So there's an async version of Attach. It means you assume it can take more than 50ms (general guideline) which is true for any IO. For our discussion it actually doesn't matter what Attach method does. What matters is that it is called as part of Subscribe:

[code]

So if Attach itself has an async v

[2017-02-17 14:50] mattheworiordan commented on #94
No, because:

`await channel.Subscribe(...)`

Always returns in the same loop, there is no activity it waits on.  It's simply a side effect.

Take this for example:

[code]

So to explain further, calling subscribe does two things, registers a listener (no IO, immediate), implicitly moves the channel to the `ATTACHING` state if channel is `INITIALIZED` (no IO, immediate).

Then once the channel mo

[2017-02-17 17:21] alexidsa commented on #94
I really don't want to take too much of your time on this minor thing but I don't understand you. Why do you mean "returns in the same loop?". Here's a flow I see:

1. Subscribe calls Attach (if not attached)
2. Attach calls SetChannelState(ChannelState.Attaching)
3. SetChannelState calls HandleStateChange
4. HandleStateChange calls Connection.Connect (again, somehow not async) and then calls Send

[2017-02-17 18:21] mattheworiordan commented on #94
If the first call is blocking, then that's a bug in the implementation @alexidsa.  It should not, it should change the state which triggers asynchronous events that connect etc.  If that is not the case, then I will raise an issue to get that addressed.

@marto83 any thoughts on this?  Sounds like the implementation is mistakenly doing sync things?

[2017-02-19 22:42] marto83 commented on #94
@alexidsa thanks for looking through the code.

Just for some background. The library works over a few threads. I keep the synchronisation context so any callbacks or events happen on the user's thread. It also keeps an internal thread (let's call it the Ably thread) for admin kind of stuff - e.g. state transitioning, message processing, and there is one more thread managed by the WebSockets libra

[2017-02-20 06:17] alexidsa commented on #94
Thanks, it makes sense and 30ms is not critical enough for UI. The only thing I don't understand is if Attach doesn't do any IO, why did you introduce AttachAsync in the first place?

P. S. Just minor thing I noticed looking through the codebase: file for RealtimeChannel class is named Channel.

[2017-02-21 11:52] mattheworiordan commented on #94
Because it's perfectly valid to wait until the Attach process is completed i.e. success or failure.  For example, this is a very common pattern:

[code]

So when you say there is no IO, there is, it sends a request to Ably to ATTACH and waits for an ACK

[2017-02-21 14:33] siberianguy commented on #94
Okay, thanks for the explanation!

[2017-02-22 02:43] mattheworiordan commented on #94
You happy for me to close this @siberianguy or do you think there are any actions from this thread?

[2017-02-22 02:54] #94 closed

[2017-02-22 19:34] mattheworiordan opened #95 "Fix HttpRequest & HttpRetry timeouts"
See https://github.com/ably/docs/pull/276

[2017-02-24 10:04] mattheworiordan opened #96 "Xamarin Android crash"
A customer reported this issue on Xamarin:

[code]

[2017-02-24 10:05] mattheworiordan commented on #96
Internally this maps to ticket 1582

[2017-02-24 18:39] marto83 commented on #96
@mattheworiordan do you have more info. I found the code for SuperSocket but from the stack trace it's not obvious at all why it failed.

How often does it happen and is it reproducible at all?

[2017-02-24 18:49] mattheworiordan commented on #96
Ok, will ask the customer to add details here. Thanks @marto83

[2017-03-02 10:51] paddybyers opened #97 "Msgpack (default) encoding fails with latest system version"
With the msgpack protocol we are seeing:

[code]

The reason is that the .Net library isn't expecting the expanded set of flags in the `ProtocolMessage.flags` word in the `ATTACHED` message.

The workaround is to initialise the library with `useBinaryProtocol=false`.

[2017-03-02 11:10] mattheworiordan opened #98 "Environment is a string, not an Enum"
It's defined currently as an `Enum`, however I don't know why given it's meant to be a string so that it can support any arbitrary environment in the future (customers have dedicated custom environments).

See https://github.com/ably/ably-dotnet/blob/master/src/IO.Ably.Shared/AblyEnvironment.cs and https://docs.ably.io/client-lib-development-guide/features/#TO3k1

[2017-03-02 14:22] mattheworiordan opened #99 "Setting clientId in ClientOptions does not create a token / set the clientId"
[code]

Results in:

[code]

Token auth should have been used, see https://docs.ably.io/client-lib-development-guide/features/#RSA4

[2017-03-02 14:50] mattheworiordan commented on #99
Closing this issue because I am stupid 😕

Sorry @marto83

[2017-03-02 14:50] #99 closed

[2017-03-05 21:22] #98 closed

[2017-03-05 21:22] #97 closed

[2017-03-06 15:34] NVentimiglia commented on #96
It happens a few times per week. Crashes reports via insights.

[2017-03-06 18:35] mattheworiordan commented on #96
Hi @NVentimiglia. Thanks for getting in touch.  Clearly we want to get to the bottom of this ASAp. Are you able to provide any more info at that may help such as what event caused this, any other log entries that may be related etc?

[2017-03-08 02:27] mattheworiordan opened #100 "Odd API for untilAttach queries"
See https://github.com/ably/ably-dotnet/pull/89/files#diff-927b012d999551505dd3e7c328da24e6R255

Why is `untilAttach` not part of `HistoryRequestParams`?  It should be.

[2017-03-08 02:31] #81 closed

[2017-03-08 02:31] #68 closed

[2017-03-09 02:41] NVentimiglia commented on #96
I do not have repo steps at this time, only exceptions caught from our crash manager.

[2017-03-09 03:52] NVentimiglia commented on #96
New stack trace from production

[code]

[2017-03-09 10:10] marto83 commented on #96
Thanks @NVentimiglia I've created a related issue with the Websocket4Net library. I'll keep you updated when I hear more. I haven't managed to recreated it locally at the moment.

[2017-03-10 09:37] marto83 commented on #96
@NVentimiglia what version of the ably library do you use?

[2017-03-16 18:25] mattheworiordan commented on #90
@marto83 any update on this?  A few customers still asking about it I am afraid.

[2017-03-20 17:03] crm76 commented on #90
Would love to see this happen. I have two product development cycles in a holding pattern as Ably would be our vendor of choice.

[2017-03-21 14:48] marto83 commented on #90
@crm76 I've been trying to get a .Net Standard library which can be used for all platforms. However I need to change the underlying web socket library as I'm having problems with WebSocket4Net.
What I can do is produce a package just for UWP for you to test rather than go for a universal package. It will use the current code base and dependencies so I'm confident in its reliability.
I can do than

[2017-03-23 15:30] NVentimiglia commented on #96
<package id="ably.io" version="0.8.4" targetFramework="MonoAndroid70" />
<package id="WebSocket4Net" version="0.14.1" targetFramework="MonoAndroid70" />

@marto83

[2017-03-23 15:31] NVentimiglia commented on #96
Also picked up a new crash

System.InvalidOperationExceptionAn attempt was made to transition a task to a final state when it had already completed.
Raw
null
System.InvalidOperationExceptionAn attempt was made to transition a task to a final state when it had already completed.
System.Threading.Tasks.TaskCompletionSource<TResult>.SetResult(TResult result)<9413b069249c4ca78f27bc3302b39016>:0
IO.Abl

[2017-03-26 22:21] marto83 commented on #96
@NVentimiglia Thanks for the crash report. I'll add extra checks to make sure this doesn't happen.

[2017-03-28 22:17] marto83 commented on #90
Not so good news here. I thought WebSocket4Net supported UWP but it doesn't so the only way to add support is to update the Socket transport. I'm going to base everything on the Microsoft websocket implementation to make sure it is cross platform. I will need to build some infrastructure code around it to make sure it fits in well with Ably.
It will be a few weeks before I can get something ready

[2017-04-06 02:44] NVentimiglia commented on #96
New crash report, any progress ? @marto83

`System.InvalidOperationExceptionAn attempt was made to transition a task to a final state when it had already completed.
Raw
null
System.InvalidOperationExceptionAn attempt was made to transition a task to a final state when it had already completed.
System.Threading.Tasks.TaskCompletionSource<TResult>.SetResult(TResult result)<f1b1793f200d4ecc9ba0b6ed8e

[2017-04-07 09:03] marto83 commented on #96
Hi @NVentimiglia. I found what is causing the issue and will release a new version of the package today. Thank you for the patience.

I'll update this issue once that's done.

[2017-04-07 23:54] marto83 commented on #96
@NVentimiglia I released v0.8.4.2 which will take care of the issue with `attempt was made to transition a task to a final state`.

[2017-04-08 06:57] mattheworiordan commented on #96
Thanks @marto83

[2017-04-18 19:17] mrueedi commented on #90
I want to second @crm76. The requirement to use a cloud pub/sub solution in my project is only one week old. But my project requires a PCL for UWP. Ably is so convincing overall, that I am determined to integrate it once this enhancement is ready. So keep up the good work and thanks from my side...

[2017-05-01 16:10] marto83 commented on #93
Hi @siberianguy, the library is now available (as 0.8.5-beta5) for .net core. I replaced the websocket library with one based on Microsofts websocket implementation.

If you are going to use the rest client I'm confident it works as expected. I still want to do a bit more testing for the realtime client to make sure the new websocket transport behaves as expected. Once that's done I'll push it as

[2017-05-01 16:16] marto83 commented on #90
@crm76  and @mrueedi. I've got a version ready with support for UWP. I replaced the Websocket transport with one that's based on Microsoft's implementation. Please use version `0.8.5-beta5` from nuget. I'm going to keep the beta label as I want to do some more testing. None of the interfaces will change so you should be good to start using it.

[2017-05-01 16:19] marto83 commented on #84
the change is released. Closing...

[2017-05-01 16:19] #84 closed

[2017-05-01 16:19] #80 closed

[2017-05-01 16:20] #83 closed

[2017-05-01 18:58] mrueedi commented on #90
Thanks a lot, Martin!
I noticed 0.8.3-beta3 already, installed it and got it successfully working (some rather basic use cases, but nevertheless). Will try beta5 now....

[2017-05-03 11:02] lovetofail opened #101 "There is already one outstanding 'SendAsync' call for this WebSocket instance"
Got this exception using this commit f84f5b5bfdc77df234f376ae6502290ac8487851
`There is already one outstanding 'SendAsync' call for this WebSocket instance. ReceiveAsync and SendAsync can be called simultaneously, but at most one outstanding operation for each of them is allowed at the same time.`
[code]

[2017-05-03 11:17] mattheworiordan commented on #101
Thanks for reporting, we'll investigate

[2017-05-03 22:47] marto83 commented on #101
Thanks @lovetofail I had a look and know how to fix it. I'll push an update in the next couple of days.

[2017-05-10 22:15] marto83 commented on #101
Hi @lovetofail. I've updated the code and added a queue to make sure only one SendAsync is happening. Since the change I haven't managed to reproduce the bug.

Please use `0.8.5-beta6` package from nuget. Let me know if you have any other issues.

[2017-05-18 21:59] mattheworiordan opened #102 "Unclear reason for error"
Customer reported this issue:

[code]

Unfortunately that stack trace does not make it clear what the issue is or what response it got from Ably.

[2017-05-19 09:47] marto83 commented on #102
it seems the error happens when trying to Authenticate the client and it's requesting a token.
Most likely the connection dropped and was interrupted during the transmission.
I had a look at the code and I've missed this error case from the retry logic. I'll add `ReceiveFailure` and publish a new version.

Can you find out which version of the library is this affecting?

I'll also add the version

[2017-05-19 14:05] NVentimiglia commented on #102
<package id="ably.io" version="0.8.4.2" targetFramework="monoandroid60" />

[2017-05-19 14:13] NVentimiglia commented on #102
[Logs_Nvidia.txt](https://github.com/ably/ably-dotnet/files/1014505/Logs_Nvidia.txt)
[Logs_LG.txt](https://github.com/ably/ably-dotnet/files/1014504/Logs_LG.txt)

[2017-05-19 14:22] marto83 commented on #102
Thanks @NVentimiglia I'm going to investigate further today. Having logs is very helpful.

[2017-05-19 23:04] marto83 commented on #102
@NVentimiglia I went through the logs and couldn't see any Ably errors there. I've updated the code and pushed a new version to nuget (0.8.4.3). It will catch that error and retry the http call.

[2017-05-22 19:00] mattheworiordan commented on #102
@NVentimiglia did you get a chance to try 0.8.4.3?

[2017-05-23 04:08] NVentimiglia commented on #102
@mattheworiordan Ill do some more logging around authentication / poor connectivity and get back to you.

[2017-05-24 18:17] mattheworiordan commented on #102
@NVentimiglia in most cases you will receive an error from the API, it would be useful if you log the complete details of that error along with a verbose log of the events leading up to it if possible.  Shout if we can do anything further to help debug this.

[2017-05-25 23:23] caseyniemann commented on #102
@mattheworiordan @marto83 @NVentimiglia Post updating getting lots of 500 errors.
IO.Ably.AblyExceptionReason: This awaiter is already in waiting state.; Code: 500
Raw
  at IO.Ably.Realtime.ChannelAwaiter.Wait (System.Action`2[T1,T2] callback) [0x00014] in <c95c433cb01f489cbf383eb0b6a8850d>:0
  at IO.Ably.Realtime.RealtimeChannel.Attach (System.Action`2[T1,T2] callback) [0x0001e] in <c95c433cb01f4

[2017-05-26 09:08] marto83 commented on #102
@caseyniemann I'm looking into it.
Is this an error you can easily reproduce? If so it will be great to run it with debug logging to see the state of the library at that time.

[2017-05-26 23:56] #102 closed

[2017-05-26 23:59] marto83 commented on #102
@caseyniemann I managed to reproduce the issue. It is caused by multiple threads calling Attach on a single channel.
I've updated the logic to make sure the first thread initiates the attach and the rest short circuit.
I've created release 0.8.4.4 and it will show up in nuget shortly.

[2017-05-27 12:14] mattheworiordan opened #103 "Signed assembly"
A customer in ticket 1890 has requested a signed version of our .NET assembly.

@marto83 what is involved in a providing a signed assembly for .NET?

[2017-05-27 20:51] caseyniemann commented on #102
Thanks Martin--we will test

[2017-05-29 15:41] mattheworiordan opened #104 "Channel attach timeouts"
@marto83 a customer has reported that messages are not being published sometimes, but investigating this further it appears to be a result of a channel attach timeout.  See the logs below.

It's hard to know why one of the connections is becoming disconnected as the logs appear to show three connections being established.  I am finding out why that is being done.  If you spot anything obvious shou

[2017-05-29 22:38] marto83 commented on #104
@mattheworiordan the logs show that the realtime library is initialised 3 times. There must be a race condition with the 'Connection state timer' when multiple instances of the library are running at the same time.
I'm going to try and recreate it in a test and get it fixed. In the meanwhile can you ask the customer if they can use one instance of the ably realtime library.

[2017-05-29 23:19] ChRonX13 commented on #104
Hi, customer in question :) to clarify your statement, is the intention to use a 'singleton' instance of IRealtimeClient as opposed to resolving a new instance for each web request? It was also mentioned for us to try using the IRestClient instead as this is for server side publishing, is there a preferred practice?

[2017-05-30 07:05] marto83 commented on #104
Hi @ChRonX13. Regarding the Realtime client. The best practice is to use it as a singleton or application because it vmanages a websocket connection to the server. The RestClient on the other hand you can use either way - as a singleton or creating a new instance per request. All you save with the singleton is the setup for the internal HttpClient and a bit to manage the channels collection.
Defin

[2017-05-30 07:18] ChRonX13 commented on #104
@marto83 Awesome...thanks a lot for that insight...we've updated our code accordingly to the Rest client and so far the team hasn't seen any issues.

[2017-05-30 09:32] marto83 commented on #104
Very welcome. Let me know if you have more issues.

[2017-05-30 11:37] mattheworiordan commented on #104
@marto83 should we be closing this?  Whilst the issue is arguably one of how the lib was used, it's not technically incorrect to have multiple libs instanced at the same time. If the lib fails, that indicates a sharing of state between instances that is probably a bug no?

[2017-05-30 12:38] marto83 commented on #104
Good point. Let's keep it open until I find out what's causing it.

On Tue, 30 May 2017, 12:37 mattheworiordan, <notifications@github.com>
wrote:

[2017-06-11 20:26] mattheworiordan commented on #103
@marto83 is this something we can do?

[2017-06-11 21:31] caseyniemann opened #105 "ConnectAsyncExtension.SocketConnectCompleted"
ConnectAsyncExtension.SocketConnectCompleted(System.Object sender, System.Net.Sockets.SocketAsyncEventArgs e)
android.runtime.JavaProxyThrowable: System.NullReferenceException: Object reference not set to an instance of an object

Xamarin caused by: android.runtime.JavaProxyThrowable: System.NullReferenceException: Object reference not set to an instance of an object
  at SuperSocket.ClientEngine.

[2017-06-12 13:31] mattheworiordan opened #106 "UWP release mode issue"
From customer in ticket 1921:

Error message:
'App.UWP.exe' (Win32): Loaded 'D:\Projects\TexhXpert\App\App\App.UWP\App.UWP\bin\x86\Release\AppX\App.UWP.exe'. Module was built without symbols.
'App.UWP.exe' (Win32): Loaded 'C:\Windows\SysWOW64\ntdll.dll'. Symbols loaded.
'App.UWP.exe' (Win32): Loaded 'C:\Windows\SysWOW64\kernel32.dll'. Skipped loading symbols. Module is native, and native debugging

[2017-06-12 16:36] ddrinka opened #107 "WebSocket Implementation Disconnects Every 100 Seconds"
I'm running ably-dotnet 0.8.5-beta6 on net452.  Every 100 seconds the WebSockets connection disconnects and reconnects.

I belive this is the source of the issue:
https://stackoverflow.com/questions/40502921/net-websockets-forcibly-closed-despite-keep-alive-and-activity-on-the-connectio

I haven't confirmed if this issue exists in dotnet core, but I will try that next and report back.

[2017-06-12 18:27] ddrinka commented on #107
I do experience this issue when targeting netcoreapp1.1 with Ably.

However, a simplified repro doesn't exhibit the issue:
https://github.com/ddrinka/LongWebSocketsConnection

So something specific to the Ably usage of System.Net.WebSockets is causing this error to manifest.

[2017-06-12 18:33] marto83 commented on #107
Hi Douglas,

Thanks for this report and for the thorough investigation. I have a few
tests which I can run over longer periods of time and I will try and
reproduce it.

I'll keep you updated.

On Mon, 12 Jun 2017, 18:36 Douglas Drinka, <notifications@github.com> wrote:

[2017-06-12 22:32] ddrinka commented on #107
I've dug deeply into the corefx code surrounding System.Net.WebSockets, and I can't find any relationship to ServicePoint, as the stackoverflow link above suggests.

[System.Net.WebSockets.Client](https://github.com/dotnet/corefx/tree/release/1.1.0/src/System.Net.WebSockets.Client/src/System/Net/WebSockets) is divided internally into three implementations, Win32, WinRT, and Managed.  On Windows, w

[2017-06-12 22:35] ddrinka commented on #107
In other news, as I've futzed with netsh proxy and trace settings, I've lost the ability to reproduce this issue.  I'm not seeing any disconnects any longer, even after a reboot.

The alternative is that it wasn't my machine at all, but was an Ably server upstream dropping the connection.  If that's the case, hopefully it'll resurface tomorrow.  Otherwise I'll spin up a virtual machine and see if

[2017-06-13 06:22] marto83 commented on #107
@ddrinka if you enable debug logging can you see if there are any internal timers firing to drop the connection. I've had issues before where I forgot to clear in internal timer.
Can you add your app key to a support ticket so Matt  can have a look at the server logs.

I'm traveling today and will be back in front of a PC tonight and will have a go at recreating it too.

[2017-06-13 06:23] marto83 commented on #103
I'm traveling today and will get it sorted tonight when I'm back.

[2017-06-13 08:10] mattheworiordan commented on #107
I can look at server logs, but these sorts of events are unlikely to be logged unless there has been an internal server error.  I suspect that's not the case and it's a connection / heart beat issue.

@ddrinka can you take a look at https://support.ably.io/solution/articles/3000063743-guide-information-we-need-to-help-you-diagnose-problems, specifically in regards to logs.  If you are able to repr

[2017-06-13 14:29] ddrinka commented on #107
@mattheworiordan I've got ticket 1923 open with Simon Woolf.  I attached a Debug log there, but redacted my API key.  Let me know if you need that or if the session id is enough.

[2017-06-13 15:32] mattheworiordan commented on #107
Excellent, thanks.

[2017-06-13 16:46] ddrinka commented on #107
Ok, for Net452, I can confirm this is exactly what the stackoverflow I pasted first describes.

![image](https://user-images.githubusercontent.com/1297262/27093862-d16a3f6e-502d-11e7-85ab-44e257cdffcc.png)

[2017-06-13 17:16] ddrinka commented on #107
I can't reproduce this for netcoreapp1.1.  I thought I had earlier, but VS2017 is buggy enough that it's possible I was running a net452 build.

All my digging yesterday was through the netcoreapp corefx source, not the net452 reference source, so that explains why I couldn't find any relationship with ServicePointManager.

[2017-06-13 20:47] ddrinka commented on #107
I've found what is causing this issue.

Ably is including a "Content-Length: 0" header in its 101 Switching Protocols response.  This confuses System.Net.HttpWebResponse, which then marks the connection closed (no data to read), but still maintains the WebSocket connection.

With the connection marked closed, System.Net.ServicePoint runs its 100-second timer and disposes of the WebSocket connectio

[2017-06-13 21:03] ddrinka commented on #107
To reproduce the issue, I'm using the following code to view all active ServicePoints:
[code]

Here are the headers from `wss://sandbox.kaazing.net/echo`
[code]
And here's the results of FindServicePoints:
[code]

Here are the headers from an instance of `websocketd` running on my machine:
[code]
And here's the results of FindServicePoints:
[code]

Here are the headers from `wss://realtime.ably.io

[2017-06-13 21:29] ddrinka commented on #107
In [HttpWebResponse](https://github.com/Microsoft/referencesource/blob/90b323fe52bec428fe4bd5f007e9ead6b265d553/System/net/System/Net/HttpWebResponse.cs#L522) we see:
[code]
[ConnectStream.CallDone](https://github.com/Microsoft/referencesource/blob/90b323fe52bec428fe4bd5f007e9ead6b265d553/System/net/System/Net/_ConnectStream.cs#L411) calls [Connection.ReadStartNextRequest](https://github.com/Micro

[2017-06-13 22:38] marto83 commented on #103
@mattheworiordan I've published version 0.8.4.5 which is signed.
I found that one of our dependencies `Nito.AsyncEx` is not signed. So I tried in a sample up and it doesn't seem to be in issue. Can you ask the customer to try and if it doesn't work I'll find a way around it.

[2017-06-13 22:42] marto83 commented on #107
Wow. @ddrinka thank you for the thorough investigation.
@mattheworiordan. Can we pass a parameter from the .net library so the server doesn't return `Content-Length` header?

[2017-06-13 22:51] marto83 commented on #105
How often do you get the above error? Can you reproduce it or does it happen from time to time.

I can see from the stacktrace that it happens in the socket library we use. I'll get a bug raised on their side however it will be good to send them as much info as possible.

[2017-06-13 22:52] marto83 commented on #101
@lovetofail have you had the issue again. I'm going to close the ticket. Feel free to reopen it if you see the same issue again.

[2017-06-13 23:01] marto83 commented on #106
@mattheworiordan can you ask the customer if they have a sample project that reproduces the issue.

[2017-06-13 23:12] marto83 commented on #105
This is the same stack trace as #96. @caseyniemann can you confirm the version of the library you are using. I've created a bug for WebSocket4Net and will update this issue once I hear more.

[2017-06-14 10:47] mattheworiordan commented on #106
@marto83 have asked

[2017-06-14 10:51] mattheworiordan commented on #107
We have undocumented `transportParams` which could in theory enable this option.  The problem with that is we really cannot guarantee that intervening routers would not add that and it would make things very brittle i.e. we could easily change our routing layers in future, and break all .NET client libraries.

I assume getting something changed upstream in this library would be incredibly challeng

[2017-06-14 11:16] mattheworiordan commented on #107
@ddrinka @marto83 FYI, we looking into this as it appears our realtime system does not add that `Content-length: 0` header.  So it is in fact happening in our routing layers, we're investigating.

[2017-06-14 11:48] mattheworiordan commented on #107
FYI, we have now have an internal infrastructure issue 1259 traffic to get this resolved.  Once this is resolved and on sandbox, @marto83 perhaps you could test it there before we roll out to production?

[2017-06-14 12:04] marto83 commented on #107
thanks @mattheworiordan. I'll setup a test later today and wait for the infrastructure issue to be resolved.

[2017-06-14 14:56] mattheworiordan commented on #107
@marto83 you can test in sandbox.  I am also rolling this fix out to production in Asia

[2017-06-14 16:49] ddrinka commented on #107
Wow back.  Y'all are fast at getting a trial fix in place!

I'll open a ticket with Microsoft on this, but yeah, a change on their side would be far off.

[2017-06-14 16:57] mattheworiordan commented on #107
@ddrinka you can try, but I believe technically the `content-length` header should in fact not be sent. See https://github.com/golang/go/commit/88ccb3c94 for the background. We've applied that patch to fix the issue in our routing layers.  I would argue that MS may want to tolerate `content-length` with zero though, even though it's not technically correct.

That's out style :)  We've been running

[2017-06-14 20:07] marto83 commented on #107
👍 from me too. I ran the latest beta continuously for over 10 minutes using the net45. There were no issues or dropped connections.
@ddrinka I'll close the issue. Thanks so much for diagnosing it 🥇

[2017-06-14 20:07] #107 closed

[2017-06-14 20:37] mattheworiordan commented on #107
Yes thank you so much for your help with this Douglas. If only we had more
customers like you we'd fix issues this quickly always!!

Glad to hear it's all working now.
On Wed, 14 Jun 2017 at 21:07, Martin Georgiev <notifications@github.com>
wrote:

--
Matthew O'Riordan
CEO
Ably - simply better realtime messaging <https://www.ably.io>

[2017-06-15 15:52] ddrinka opened #108 "When a Channel Fails to Resume After Disconnection, a Detached Event isn't Fired"
When I had been experiencing regular disconnects, I found that 1 in 30 or so connections would fail to resume with an error like this: `Unable to recover connection: not found (<SESSION ID>); Code: 80008; HttpStatusCode: (400)BadRequest`

This is an issue itself, but one I'm not able to reproduce often enough to even request support on.

This present issue is that when the connection resume failed

[2017-06-15 16:25] marto83 commented on #108
@ddrinka sounds like a bug. I'll try and look into it asap.

[2017-06-15 22:22] marto83 commented on #108
@ddrinka I found the bug where I wasn't correctly checking when the connection is not successfully resumed. Before I release a new version I'd like to double check with a couple of test cases.

@mattheworiordan what is the best way to make sure a connection fails to resume.

[2017-06-16 09:31] mattheworiordan commented on #108
You simply reconnect with an invalid `connectionKey`, so force that to change. Don't use an invalid format though, try and use a key that matches the format of a valid key, but simply does not exist.

[2017-06-16 09:41] marto83 commented on #108
I see - I was close. I tried last night by removing a couple of letters of the key but I must have invalidated it :).

[2017-06-16 17:08] marto83 commented on #108
@ddrinka I reproduced the bug and confirmed it is fixed. I've pushed beta7 to nuget as well.

[2017-06-16 17:09] marto83 commented on #106
Just to confirm. I can reproduce the issue and am trying to find how to get it fixed. I'm open to suggestions if there are any :)

[2017-06-16 17:10] marto83 commented on #103
@mattheworiordan do you know if that's worked for the customer.

[2017-06-18 22:39] marto83 commented on #79
I'm closing this as we have the .net standard library.

[2017-06-18 22:39] #79 closed

[2017-06-18 22:41] marto83 commented on #87
@gwestwater I'm going to close this ticket. If it is still an issue please feel free to reopen it.

[2017-06-18 22:41] #87 closed

[2017-06-19 12:25] mattheworiordan commented on #103
Have asked the customer again.

[2017-06-20 14:13] mattheworiordan commented on #103
From the customer @marto83:

Could not load file or assembly 'Nito.AsyncEx, Version=3.0.1.0, Culture=neutral, PublicKeyToken=null' or one of its dependencies. A strongly-named assembly is required. (Exception from HRESULT: 0x80131044)
I tried to update version of Nito.AsyncEx. to resolve it but still it is throwing same error.

[2017-06-20 14:23] marto83 commented on #103
cool. I suspected it even though I didn't get it myself. I'll get it sorted today and publish a new package.

[2017-06-20 16:39] engenb commented on #103
FWIW I just pulled 0.8.4.5 and got the same error @mattheworiordan posted a couple hours ago.  rolling back to 0.8.4.4 resolved the issue.  could an option be to publish a different ably-signed nuget?

[2017-06-20 22:22] marto83 commented on #103
@mattheworiordan an @engenb I released a new version of the nuget package. I merged 3 of the dependencies so the only external dependency is msgpack.cli which is also signed.

The new nuget package is version 0.8.4.6. Let me know if that fixes the issue.

[2017-06-20 22:23] #93 closed

[2017-06-20 22:24] marto83 commented on #91
Pulled the merged branch into master and published the latest nuget package with 3 the Newtonsoft dependency merged into the IO.Ably dll.

[2017-06-20 22:24] #91 closed

[2017-06-20 22:26] #82 closed

[2017-06-20 22:28] marto83 commented on #90
@mrueedi I'm going to close this issue for now. Feel free to reopen it or create a new one if you have any issues with UWP.
We are up to beta7 which is stable and I've will soon look to remove the beta flag.

[2017-06-20 22:28] #90 closed

[2017-06-20 22:34] marto83 commented on #38
I double checked and this is definitely implemented in https://github.com/ably/ably-dotnet/blob/master/src/IO.Ably.Shared/Encryption/Crypto.cs

[2017-06-20 22:34] #38 closed

[2017-06-21 02:37] NVentimiglia opened #109 "Crash on android"
Vs 0.8.4.4

Xamarin caused by: android.runtime.JavaProxyThrowable: System.NullReferenceException: Object reference not set to an instance of an object
SuperSocket.ClientEngine.ConnectAsyncExtension.SocketConnectCompleted(object sender, SocketAsyncEventArgs e)<2b3384da5fba458d95aaf3e5bd2b26a7>:0
SuperSocket.ClientEngine.ConnectAsyncExtension.OnGetHostAddresses(IAsyncResult result)<2b3384da5fba458d9

[2017-06-21 09:42] mattheworiordan commented on #109
Do you have any information on what may have led to this issue?
See https://support.ably.io/solution/articles/3000063743-guide-information-we-need-to-help-you-diagnose-problems for common information that will help us more quickly diagnose and fix issues.

[2017-06-21 10:20] marto83 commented on #109
@mattheworiordan this is the third issue of this sort. It happens deep within the WebSocket4Net library but  it doesn't happen often.

@NVentimiglia kerryjiang suggested we upgrade to the latest version of beta version of WebSocket4Net. Our other option is to use the 0.8.5 beta version of ably which uses the MS implementation.

Do you have any more insight into when the issue is happening? Have yo

[2017-06-21 10:26] mattheworiordan commented on #109
@marto83 does 0.8.6 use the MS implementation?

[2017-06-21 10:33] marto83 commented on #109
0.8.4.* uses WebSocket4Net
0.8.5* uses System.Net.WebSockets.Client

[2017-06-21 10:42] mattheworiordan commented on #109
Thanks @marto83. So @NVentimiglia can you try the latest version?

[2017-06-21 19:59] engenb commented on #103
@marto83 I updated to your new release and I am no longer getting that assembly load exception - thanks!

[2017-06-21 20:03] #103 closed

[2017-06-21 20:40] engenb opened #110 "Token Authentication - Unexpected error :Can not convert Object to String.; Code: 50000"
I'm following the [Token Auth tutorial](https://www.ably.io/tutorials/token-authentication#lang-java) and having some trouble.

I have implemented my api as such:
[code]
and setting up my client as such:
[code]
I can confirm that the client is hitting my api.  However, it's reporting an error ```Can not convert Object to String```.  My first thought was this was perhaps the Content-Type on my resp

[2017-06-21 20:53] engenb commented on #110
just a suggestion upon further digging into the source of the error...

perhaps consider using
[code]
in the Capability ctor instead of messing around with interpreting a JObject and its child JProperties

doc reference:
http://www.newtonsoft.com/json/help/html/PopulateObject.htm

[2017-06-21 21:32] marto83 commented on #110
It is something around parsing the capability string. I'll have a look at it first thing in the morning.

There is a custom converter for capability which should handle it.

[2017-06-21 21:34] marto83 commented on #110
Looking at the response it seems that .net core MVC is serialising the capability string wrong. I'll give it a try and update your sample.

[2017-06-21 21:47] engenb commented on #110
FWIW I fixed the issue by updating AblyAuth line 194 to
[code]
I can submit this via PR if you'd like.

I noticed other issues like mvc serializes the DateTime to an ISO 8601 string instead of the ticks I think the sdk is expecting.  Newtonsoft.Json will handle ticks vs. various date format strings for you, however

[2017-06-21 22:07] marto83 commented on #110
Nice. That will work for .net posting token requests but it won't work if
you have a different server side library.

It will probably help to add a helper method to serialise the token request
using the internal settings which will handle the ticks and capability
correctly.

On Wed, 21 Jun 2017, 22:47 Brian Engen, <notifications@github.com> wrote:

[2017-06-21 22:11] marto83 commented on #110
Have a look. There is an internal class called jsonhelper that has custom settings.

Initially I used to update the global serialisation settings but had to change it as wasn't fair to the other code :)

[2017-06-21 22:17] engenb commented on #110
yup, I'm getting all up in your code over here :P

I think all you need is a [JsonConverter(...)] attribute on the TokenRequest class to convert timestamp and ttl
to the expected format.  that may also include adding a [JsonConverter(...)] to the Capability property since the expected format is somewhat non-standard for .net

or yes, you could add a .ToJson to TokenRequest to handle all the specia

[2017-06-21 22:31] marto83 commented on #110
Agree. It will be ideal if it is obvious. I didn't want to depend on adding the json converter properties because when I do ILMerge and merge newtonsoft.json into the ably.dll (so it doesn't cause json.net version mismatches) all these attributes became internal.

How about if I change the signature of the method to return Task<string> which will be an already serialised version of the TokenReques

[2017-06-22 14:31] engenb commented on #110
oh you're ILMerging in Json.Net to avoid version conflicts - that's reasonable.  well, yet another approach could be to just set your Newtonsoft.Json version all the way back to a minimum of 6.0.1.  If anyone is on a version older than that, published in 2014.... they should just update ;)

I suppose it all comes down to what your customers need.

FWIW I'm very impressed with Ably vs. other realti

[2017-06-22 14:45] marto83 commented on #110
You are very welcome. I'll chat to @mattheworiordan and think the best approach will be to return the tokenrequest as a serialised string. The only reason to request on is to pass it down to another client.

Thanks for taking the time for the PR :)

[2017-06-23 17:36] caseyniemann commented on #109
@mattheworiordan we have 8.5 in dev.  We are testing backward compat if we have one client on 8.4 and one on 8.5...should we expect issues?  @NVentimiglia

[2017-06-23 17:41] marto83 commented on #109
@caseyniemann There will be no compatibility issues between the two versions.

The protocol is the same. The differences between the versions are:
1. 8.5 supports .net standard 1.3 so I had to swap a few internal apis
2. Swapped the web socket protocol.

8.5 is not signed yet. Let me know if you require a signed assembly.

[2017-06-23 18:10] caseyniemann commented on #109
We updated 8.5 is updated in Dev using Nuget...testing

[2017-06-23 20:58] marto83 commented on #109
Thanks for letting me know. Keep us updated how testing goes and whether to experience any issues.

[2017-06-26 13:20] caseyniemann commented on #102
We got this in Dev on IOS.  with 8.5.5.  We are now testing 8.5.6.

WebSocket4Net.WebSocket.ClearTimer()
WebSocket4Net.WebSocket.FireClosed()
WebSocket4Net.WebSocket.OnClosed()
WebSocket4Net.WebSocket.client_Error(object sender, ErrorEventArgs e)
SuperSocket.ClientEngine.ClientSession.OnError(Exception e)
SuperSocket.ClientEngine.SslStreamTcpSession.OnDataRead(IAsyncResult result)
System.Net.LazyA

[2017-06-26 13:42] marto83 commented on #102
@caseyniemann that's weird. 8.5 doesn't have WebSokect4Net at all. Are you using https://www.nuget.org/packages/ably.io/0.8.5-beta7

[2017-06-26 16:07] NVentimiglia opened #112 "NullReference on iOS Xamarin"
Here is our caught stack trace.
[code]

[2017-06-26 16:08] NVentimiglia commented on #102
@marto83
0.8.4.6

We do have a new null ref on iOS
https://github.com/ably/ably-dotnet/issues/112

[2017-06-26 20:12] mattheworiordan commented on #112
@NVentimiglia can you confirm which version this is?
Also, have you tried the latest version that no longer relies on WebSocket4Net and instead uses the MS WebSocket implementation?  Please can you try that and confirm if the issue still exists.

[2017-06-26 21:40] marto83 commented on #112
@NVentimiglia I have a suspicion that this is caused by the phone losing connectivity. I'm going to look into finding a way to log and handle connectivity changes instead of letting the connection error.

Still, please give the latest beta a try as the protocol has been completely changed.

[2017-06-26 23:27] NVentimiglia commented on #112
@marto83
8.5.6

[2017-06-27 09:57] SimonWoolf opened #113 "Populate message/presencemessage Id, ConnectionId, Timestamp"
Hey @marto83 . Customer reporting that `message.Id` and `message.ConnectionId` are null for messages received over realtime.

Looking at the lib and the spec, it looks like the requirement for how those fields should be populated was only added to the spec after 0.8 — https://github.com/ably/docs/pull/143/commits/f5b579a0c2b35cb4ee58137cf3a1bb24bbcfe51d — which explains why it isn't implemented in

[2017-06-27 11:27] marto83 commented on #113
I'll make sure they are set and release a new version some time tomorrow. I'll link it to this issue.

[2017-06-27 11:36] SimonWoolf commented on #113
Thanks Martin!

[2017-06-27 13:35] ndastur commented on #113
Thank you Guys

[2017-06-27 21:04] SimonWoolf opened #114 "RealtimePresence possibly broken"
Customer reports that with .NET, using the AblyRealtime client, they only ever see one member present (presumably themselves) even when there are definitely multiple on the channel (as seen from other client libs or the AblyRest client).

Looking at the lib implementation, I thought at first it was because [`waitForSync` isn't implemented yet](https://github.com/ably/ably-dotnet/blob/e76f6c94df952

[2017-06-28 13:35] marto83 commented on #114
Would you be able to get the customer to enable the debug logging. We can see what happens to the presence messages when they arrive. We've had a few people using it before without issues. I'll double check it and let you know.

If waitForSync is needed I can prioritize it and get it implemented in the next couple of weeks.

[2017-06-28 13:43] SimonWoolf commented on #114
Fair enough. I've asked him for a debug log and to post it directly into this issue.

[2017-06-28 17:54] caseyniemann commented on #112
ConnectAsyncExtension.SocketConnectCompleted(System.Object sender, System.Net.Sockets.SocketAsyncEventArgs e)
android.runtime.JavaProxyThrowable: System.NullReferenceException: Object reference not set to an instance of an object

Xamarin caused by: android.runtime.JavaProxyThrowable: System.NullReferenceException: Object reference not set to an instance of an object
SuperSocket.ClientEngine.Conne

[2017-06-28 17:55] caseyniemann commented on #112
Above is crash report from 8.4.6

[2017-06-28 18:01] jeraldAR commented on #114
Hi @marto83,

This is what I get when trying to get all presence members in our channel. I am developing an application in WPF using Ably.io Latest prerelease 0.8.5-beta7. A workaround to get this working for me is to subscribe to the presence and handle each member that way, but I would rather use the GET method of the presence as expected by getting all users.

Thanks for the help guys!

[code]

[2017-06-28 23:18] #113 closed

[2017-06-28 23:19] marto83 commented on #113
I still need to release a new nuget package and merge into the branch for 0.8.5. Will update once that's done.

[2017-06-28 23:20] #108 closed

[2017-06-29 11:51] marto83 commented on #114
@jeraldAR I did a test with 2 clients and 250 presence messages. The second client will get incomplete results depending on when it called Presence.GetAsync().

I'm going to get this fixed over the next couple of weeks and keep you updated.

[2017-06-29 20:28] marto83 commented on #113
@ndastur and @SimonWoolf I just uploaded 0.8.4.6 and 0.8.5-beta8 to nuget that have a fix for this issue.

[2017-06-30 18:17] caseyniemann commented on #112
updated to 8.4.7 in our Dev---still getting a lack o signals when we switch networks from LTE to WIFI and back again...it's as though the signal retry (10 seconds) in our case, doesn't immediately recognize if the network connection has changed from LTE to WIFI

[2017-07-03 12:08] mattheworiordan commented on #112
FYI, just chatted with Martin @caseyniemann. We would like to work with the latest version of ably-dotnet to get this working and not use an older version as there is little point in supporting an old version.  @marto83 will be in touch soon if he has any questions or needs you to test anything.  Tanks for bearing with us

[2017-07-03 12:13] marto83 commented on #112
@caseyniemann we are moving away from WebSocket4Net. Can you try with the latest beta? I'm looking into handling Mobile OS network service events but it definitely won't be in 0.8.4.*.

[2017-07-06 03:25] NVentimiglia commented on #112
0.8.5-beta8 did not send / receive on IOS

[2017-07-06 07:23] mattheworiordan commented on #112
@NVentimiglia what do you mean by `0.8.5-beta8 did not send / receive on IOS?  What specifically happened, and is this related to the reported issue of changing networks?

[2017-07-06 13:31] caseyniemann commented on #112
@marto83 @mattheworiordan the beta didn't signal at all on IOS...it did on android.

[2017-07-06 13:37] caseyniemann commented on #112
@marto83 can we connect live and debug

[2017-07-06 13:48] marto83 commented on #112
@caseyniemann I've sent you an email. Can you enable debug logging and post the logs here from iOS.

[2017-07-06 19:53] DaTester commented on #106
Hi @marto83  - This issue might be caused by the msgpack.cli dependency.
https://github.com/msgpack/msgpack-cli/issues/206

[2017-07-11 10:10] marto83 commented on #106
Thank you @DaTester. I had a look at the bug and it will not be fixed until the next RC. :(

My options are kind of limited. I think for the time being I will fork the msgpack repo and create a new nuget package that fixes this until the official 0.9 rc comes out.

[2017-07-11 17:45] jeraldAR opened #115 "Channel didn't attach within the default timeout; Code: 50000, Intermittent"
Hi,

I notice that at times I get "Channel didn't attach within the default timeout; Code: 50000". This happens when I am trying to get a specific channel and the way I am able to reproduce this is to stop/start debugging my WPF app. I saw that there are others with this problem, but they were back in 2016 and doesn't really have a workaround for this. Any help is appreciated. Workaround maybe to

[2017-07-11 19:01] mattheworiordan commented on #115
Spoke with customer and advised that they should have a read of https://www.ably.io/documentation/realtime/versions/v0.8/connection#handling-failures and make sure v0.8 of the documentation is selected.  Also, for us to debug the root cause of the failure, we would need verbose logs, see https://support.ably.io/support/solutions/articles/3000063743-guide-information-we-need-to-help-you-diagnose-pr

[2017-07-11 20:09] jeraldAR commented on #115
Hi @mattheworiordan,

So I tried the suggestion you offered on handling failures, but now getting a new error dealing with {"Reason: This awaiter is already in waiting state.; Code: 500"} .

This may be similar to https://github.com/ably/ably-dotnet/issues/102 and can always reproduce whenever I try to reattach my channel. I am also trying to get multiple channels at once. What do you think is the

[2017-07-11 20:12] mattheworiordan commented on #115
Mmm, that sounds like a bug in the lib.  Please confirm which exact version of the library you are using when receiving this error.

Sorry, I am not following you.  If you want to get multiple channels, you can just instance them each separately i.e.

[code]

Am I misunderstanding what you mean?

[2017-07-12 08:46] DaTester commented on #106
Ok I understand @marto83,   can give me estimated timescale on next RC?  so we can plan for testing/release at that time.

[2017-07-12 22:45] marto83 commented on #106
@DaTester to update you I'm stacked at the moment and won't have time to look into it for at least the next week.

However, if you want to fork the MsgPack.Cli and release a version that removes the broken dependencies I'll be happy to release a new version pointing at your implementation.

[2017-07-13 09:09] DaTester commented on #106
Thanks for the info @marto83 ,  It's ok we can wait as our developer is fixing critical issues in our app at present.

[2017-07-13 21:20] marto83 commented on #115
@jeraldAR

Which version of the library are you using?
I've recently added some fixes in the latest beta to help with Attach failures. So for example, if a channel fails to attach it will move back to Initialising state which means you can continue to publish messages to the channel and they will be queued and sent when it becomes attached. Also reattaching will happen automatically.

For the olde

[2017-07-13 21:44] jeraldAR commented on #115
Hi @marto83,

I am currently using 0.8.4.7. I can't install the beta9 build due to dependency errors with MsgPack.Cli V0.8.1 and Nito.AsyncEx V4.0.1.

However, for some reason I am not getting this error anymore.

Also, I did add reattach failsafes on channels as well. So far so good.

Thanks again @marto83 and @mattheworiordan

[2017-07-14 15:44] ndastur commented on #112
Just to note that I am getting the same error as Crash Reports from Hockey. So haven't yet seen in local debug. Using 0.8.4.7

[2017-07-14 15:47] ndastur opened #116 "Failure of history API call means channels no longer attach"
I have just come across a strange bug. Due to a bug in my own code I was calling the History API with a start Date preceding 01-01-1970 this resulted in an exception which I catch... no problem so far.

But when I get a channel and try Attach. The Attach fails. The error seems to be
```Unexpected error :Reason: Unable to publish in detached or failed state; Code: 40000; HttpStatusCode: (400)BadReq

[2017-07-14 16:03] ndastur opened #117 "AttachAsync() doesn't timeout on connection state changes"
If there happens to be a connection state change whilst awaiting a AttachAsync() call the call never times out

[2017-07-14 16:15] mattheworiordan commented on #116
Hi @ndastur.  That's odd as I would imagine a history request should have no bearing on the channel state.

Can you describe the steps to reproduce please?

[2017-07-14 16:15] mattheworiordan commented on #117
@ndastur can you show us an example of how to reproduce this please?

[2017-07-14 16:25] ndastur commented on #117
I am not sure what to do in order to reproduce reliable as it requires connection state changes to be forced.
If you can get the ably into a suspended connection state then call AttachAsync.
Get the connection to connect but then disconnect almost immediately.
Allow connection to re-connect
At this point despite a stable connection the channel never goes into an Attached state and the call does no

[2017-07-14 16:29] ndastur commented on #116
I know...

1) Start the ably client
2) In ablyRealtime.Connection.On(ConnectionState.Connected, async args => do a call to the history API using a Start parameter DateTime of 1969-01-01
3) The history call will fail
4) Get a channel with a completely different "name". No sure if it's relevant but the names are all in the same namespace. i.e. chat:
5) The AttachAsync fails

[2017-07-14 16:35] mattheworiordan commented on #117
Ok, thanks, that should be enough for us to write a test and reproduce.

[2017-07-14 16:36] mattheworiordan commented on #116
Ok, thanks @ndastur. We'll write a test and then get a fix out.

[2017-07-14 17:10] marto83 commented on #117
@ndastur which version are you using

[2017-07-14 17:16] marto83 commented on #115
what is the issue with the Nito.AsyncEx library. I know that MsgPack has an issue with UWP apps.

[2017-07-14 18:39] ndastur commented on #117
Latest nugent release I think 0.8.4.....

[2017-07-17 23:32] marto83 commented on #117
@ndastur just FYI. I've managed to replicate the bug and will get it fixed tomorrow.

I'm working on a fix in 0.8.5. Is it possible for you to upgrade to the latest beta?

[2017-07-18 08:38] ndastur commented on #117
Thank you @marto83. I can use the 0.8.5 beta. But do you have a timeline on the stable version of 0.8.5 as we need to release a production ready product at the end of August.

[2017-07-18 21:42] marto83 commented on #104
I updated the attaching timer and added a test to validate the issue. All good now.
It's fixed in 0.8.5-beta12.

[2017-07-18 21:42] #104 closed

[2017-07-18 22:10] marto83 commented on #116
@ndastur I got a test to reproduce it.
by passing the `async state => history call` you pass an async void method which silently fails and takes down the ConnectionManager thread so even though the Attach message comes back there is no one to welcome it.

It won't be simple to fix. Thanks for finding it.

[2017-07-18 22:35] marto83 commented on #117
@ndastur the main reason for 0.8.5 is to have a .net standard library. For that I had to implement another Websocket transport based on the MS WebSockets library. However, with the help of another client we discovered there is a bug with Xamarin on iOS that stops the new transport to connect so I had to put back the WebSocket4Net transport as well. So now you have a choice between the two. Other t

[2017-07-19 08:40] ndastur commented on #117
@marto83 does that mean I should do that for iOS clients or only if I experience a problem??

[2017-07-19 08:45] marto83 commented on #117
For iOS clients we automatically force it to use the WebSocket4Net client
because of a Xamarin bug.

On Wed, Jul 19, 2017 at 9:40 AM Neville Dastur <notifications@github.com>
wrote:

[2017-07-20 11:10] ndastur commented on #117
Thanks @marto83 . In that case presumably, the only way to "try" the new transport is to set a client option on iOS. Is it correct that on Android the new transport is the default? And so the comment above, 2 days ago, only applies to Android?

[2017-07-20 11:42] marto83 commented on #117
Yes.

Yes

So if you are not happy with the new transport on Android you can switch back to the previous one.
I've got 3 more issues to close and will remove the beta label.

[2017-07-20 15:21] ndastur commented on #117
@marto83 brilliant news. I'll persevere with 0.8.5 then

[2017-07-25 00:22] ndastur commented on #117
@marto83 just to make you aware. Having switched to 0.8.5 beta I am getting a bunch of new crash types reported. I have pasted the HockeyApp summaries below. I hope this helps.

1)
Reason:
android.runtime.JavaProxyThrowable: System.AggregateException: A Task's exception(s) were not observed either by Waiting on the Task or accessing its Exception property. As a result, the unobserved exception was

[2017-07-25 13:10] marto83 commented on #117
Thanks Neville,
3 is a valid exception when the connection is down. I need to make sure I
catch it.

2 is a bug and will get it sorted.
1 could be a valid case. It will help if you run ably in debug mode for a
bit to see what happens around the crashes.

Also I'm away from a computer this week but will jump on it next Monday.

On Mon, 24 Jul 2017, 19:22 Neville Dastur, <notifications@github.com> w

[2017-07-30 22:05] ndastur commented on #117
@marto83 thank you. Can you post how to set debug mode in the .Net client. Tried
```,LogLevel = LogLevel.Debug``` in clientoptions but doesn't seem to make any difference to output

[2017-08-01 02:10] arash01 opened #118 "Request mac does not match"
Hi,

When I'm trying to subscribe to a channel, it returns this error: "Request mac does not match"

Authentication is by TokenRequest which is been created by PHP code. It works fine with Javascript but not with Xamarin (Dot net sdk).

Also changing LogLevel = LogLevel.Debug in ClientOptions doesn't print out logs, therefore I can't provide logs at this stage.

My code:

`
try
            {

[2017-08-01 08:51] marto83 commented on #118
Hi @arash01,
Can you send me the code for FetchTokenRequest()?
The issue is most likely when the tokenrequest / tokendetails is de/reserialized and sent back to ably.

[2017-08-01 09:06] arash01 commented on #118
`async Task<TokenRequest> FetchTokenRequest()
        {
	var tokenRequestData = await GetAblyTokenRequestFromServer<Dictionary<string, object>>()

            var tokenRequest = new TokenRequest
			{
				Ttl = TimeSpan.FromMilliseconds(int.Parse(tokenRequestData["ttl"].ToString())),
				ClientId = tokenRequestData["clientId"] as string,
				Timestamp = DateTimeOffset.FromUnixTimeMilliseconds(long.

[2017-08-01 09:16] arash01 commented on #118
And when trying to json DeserializeObject directly to TokenRequest, it returns error:
Reason: Unexpected error :Error converting value 60000 to type 'System.Nullable`1[System.TimeSpan]'. Path 'ttl', line 2, position 17.; Code: 50000

That's why I need to create tokenRequest from scratch in Xamarin side.

[2017-08-01 09:24] marto83 commented on #118
@arash01. It's good the way you are doing it. I need to add a helper method because all the serialization utils are currently internal.

Everything looks good. Can you just try to use the Capability constructor for parsing the capability string?
`tokenRequest.Capability = new Capability(tokenRequestData["capability"].ToString());`

[2017-08-01 09:29] arash01 commented on #118
It simplified the code but it didn't solve the problem :( My code now looks:

`async Task<TokenRequest> FetchTokenRequest()
        {
            var hub = Member.CurrentMember.Hub;
			var tokenRequestData = await new MemberService().GetAblyTokenRequestForHub(hub);

            var tokenRequest = new TokenRequest
			{
				Ttl = TimeSpan.FromMilliseconds(int.Parse(tokenRequestData["ttl"].ToString()

[2017-08-01 09:40] marto83 commented on #118
Can you do me a favour and paste the json you receive from the php lib into a support ticket and let me know the reference? I want to see what is the reason the generated json is different 🤔

[2017-08-01 09:48] arash01 commented on #118
Done, ref: 2113

[2017-08-01 10:06] marto83 commented on #118
thanks will let you know.

[2017-08-01 11:20] mattheworiordan commented on #118
@arash01 FYI, I have tested the mac generation, and it is definitely valid (nothing in what is pasted below should be considered secret/private btw):

[code]

[2017-08-01 11:33] marto83 commented on #118
@arash01 looking at the json the .net library adds spaces in the capability json string (to make it more readable :)) which is causing the issue 😞

Here is a workaround that should fix the issue until I get this fix released:
[code]
Can you try it and let me know?

[2017-08-01 12:08] arash01 commented on #118
It didn't help. Actually It doesn't hit the new ToJson() function.

[2017-08-01 12:36] marto83 commented on #118
You are right. I tested it with the Rest client and there it was correctly converting it. I will need to change it and release a new version.

Which version are you using?

[2017-08-01 13:13] arash01 commented on #118
0.8.4.7

[2017-08-01 13:18] marto83 commented on #118
@arash01 I'll release a new version later today and will let you know.

[2017-08-01 22:01] marto83 commented on #118
@arash01 I updated the code and pushed a new version of 0.8.4
Can you please test it and let me know?

[2017-08-01 23:35] arash01 commented on #118
It's all good now :) Thank you so much

[2017-08-02 08:59] mattheworiordan commented on #118
Good to hear @arash01.  Thanks @marto83

[2017-08-02 09:00] #118 closed

[2017-08-02 12:12] SimonWoolf opened #119 "Realtime chat example not working; issue with Nito.AsyncEX dep?"
Customer reports that the Realtime Chat example in the examples/ dir is broken, with latest ably-dotnet github master: "Nito.AsyncEX version 4.0.1.0 could not load. I'm using Visual Studio 2017 and that dependency fails. Updating it fails also because the library has dependencies on old .Net frameworks."

[2017-08-03 06:33] arash01 opened #120 "Failed to install Ably into a PCL project"
I'm trying to add Ably into my PCL project but it fails:

Could not install package 'ably.io 0.8.4.8'. You are trying to install this package into a project that targets '.NETPortable,Version=v4.5,Profile=Profile111', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact the package author.

[2017-08-03 12:29] marto83 commented on #120
@arash01 the next version 0.8.5 is a .net standard library and is a portable library. It uses a new transport layer and has more fixes especially around channel timeouts.

It is still in beta as there are a couple of issues around the new transport but we should have that cleared soon.

[2017-08-03 13:03] marto83 commented on #119
I started trying to pull all the source (wasn't much in volume) from Nito.AsyncEx but it took me down a rabbit hole. I'll message the author of the library and ask him what I can do.

[2017-08-04 00:09] marto83 commented on #106
Hi @DaTester. I've released a new version with the upgraded MsgPack.Cli dependency. Can you please try again with that version.

[2017-08-04 00:12] marto83 commented on #106
Actually. I create a test project and still get the same error :(. It must be another package. Or maybe I need to create a separate nuget config for UWP. I'll look into it.

[2017-08-04 00:15] marto83 commented on #119
Simon, I reread the message. The examples are currently broken. I'll fix them next week.

[2017-08-04 00:24] marto83 commented on #117
@ndastur
When you set the log level you also need to implement a logSink otherwise Ably just writes to Debug messages.
This is just a class that implements `ILoggerSink`. Once you have that at startup you need to do the following
`IO.Ably.Logger.LoggerSink = new YourLoggerSink();`

I've also updated the latest beta version with more error handling around the websocket layer. Let me know if this re

[2017-08-04 00:25] marto83 commented on #116
@ndastur That's fixed in the latest beta.

[2017-08-04 00:26] marto83 commented on #115
@jeraldAR I updated the packages for Nito.AsyncEx and MsgPack in 0.8.5 beta14. Can you please try it and let me know if you still have the same issue.

[2017-08-04 00:28] marto83 commented on #112
This is fixed in the latest beta when using the WebSocket4Net transport.
The library will handle the error and continue to shut down the websocket transport after which it will try and create a new connection.

[2017-08-04 00:29] marto83 commented on #110
@engenb this is now fixed in the latest beta 0.8.5-beta14. I'll close the pull request. Thanks again for taking the time.

[2017-08-04 00:29] #110 closed

[2017-08-04 00:31] marto83 commented on #75
Fixed in 0.8.5-beta14

[2017-08-04 00:31] #75 closed

[2017-08-04 09:37] ndastur commented on #116
Ty. I'll try it out

[2017-08-04 13:46] ndastur commented on #116
Hi @marto83 is the latest beta on NuGet yet. I couldn't find an update

[2017-08-04 14:06] marto83 commented on #116
it is but nuget thinks it is not the latest.
Try with this `Install-Package ably.io -Version 0.8.5-beta14 -Pre`

[2017-08-04 14:27] ndastur commented on #116
Okay. That might explain why the version I am using is "so" unstable cf what I thought was just 3 issues to sort out... I was on beta 9

[2017-08-05 16:20] ndastur opened #121 "Beta SDK depends on "Nito.AsyncEx" version="5.0.0-pre-02""
I have been trying out the new beta of the SDK as per our other discussions but the new beta depends on ```<dependency id="Nito.AsyncEx" version="5.0.0-pre-02" />```

Is there a good reason for the dependence on a pre-release third party package. The new Nito.Async v5 certainly breaks my app and will delay the release of this package into production

[2017-08-07 00:31] arash01 opened #122 "App doesn't receive messages after a while"
Hi,
Xamarin forms app can't receive messages from a channel after I leave the app in background mode for a while.
However when I toggle off/on subscribe method in foreground, it starts receiving them. Unfortunately it doesn't output any log so I can't see when it stops working.
At first I thought it might be because of working on different threads, however playing around threads didn't solve the p

[2017-08-07 21:02] ndastur commented on #122
Which platform are you on? For iOS that is very "normal" behaviour. You can't run backgrounded apps without special APIs and that is for only short bursts of time. On Android you could use a service but that will drain battery massively if you leave it on continuously.

[2017-08-07 21:51] arash01 commented on #122
Both iOS & Android platforms have the same issue.
But shouldn't Ably reconnect as soon as app comes to foreground? As I said it starts working if I reconnect ably manually in foreground.

[2017-08-07 21:53] ndastur commented on #122
Just in case you wondered, I should say I don't work for Ably ;)

Yes, I agree it would be much nicer if the SDK just handled connection etc. I have found that is does not and so have had to work around making a stable connection. To date I haven't achieved that as it seems it is not a simple matter of just calling connect on resume. You will see some open issues in this repo concerning connection

[2017-08-07 22:20] mattheworiordan commented on #116
@ndastur out of interest, does `0.8.5-beta14 -Pre` fix the issue?

[2017-08-07 22:22] mattheworiordan commented on #115
@jeraldAR did `0.8.5 beta14` fix the issue?

[2017-08-07 22:24] jeraldAR commented on #115
Hey Matt,

Just saw this now. I will give it a try today and will update you in a bit.

[2017-08-07 22:25] ndastur commented on #116
hi @mattheworiordan I haven't been able to test as 0.8.5-beta14 depends on the alpha version of Nito.AsyncEx and so broke my build. I wasn't keen on a refactor of my code to an alpha package and there were too many changes to my code base for it to be a quick test. I have opened an issue to ask why the new version depends on an alpha package

[2017-08-07 22:26] marto83 commented on #122
@arash01 the current version of the library will resume the connection when the OS comes in the foreground but the connection will not be able to resume its state with the server (as it has been too long). Because of that, you need to reattach all channels you are using.
[code]

Regarding logging you need to hook up a custom LoggerSink so you can collect the messages from the library. You need to

[2017-08-07 22:31] marto83 commented on #121
@ndastur sorry to hear it breaks your app. I only use a small portion of this library and made sure there were not any changes to the parts I'm using. I also updated it because it solved a dependency issue I was having with using the library on another platform.

However, this week I will pull the source files for the classes I'm using into ably and remove it as a dependency. Sorry, it delaying yo

[2017-08-07 22:40] ndastur commented on #122
@marto83 can I just which version you mean by the latest? I am fairly sure the connection is never resumed when the app enters foreground. Or at least using the example you have given the connected state is never fired and so the attach foreach doesn't get called

[2017-08-08 02:29] arash01 commented on #122
Agreed. Unfortunately connected state is never fired..

[2017-08-08 09:28] arash01 commented on #122
I just found out, even if I leave app in foreground for a while (~3 minutes), it stops receiving messages while channel state never changes..

[2017-08-08 10:46] marto83 commented on #122
do you mind enabling debug logging and posting what you see in the logs
around including the time it stops receiving messages?

On Tue, Aug 8, 2017 at 10:28 AM Arash Daneshvar <notifications@github.com>
wrote:

[2017-08-08 21:54] marto83 commented on #121
@ndastur as promised in the latest beta **0.8.5-beta16** the nito async library is no longer a dependency and I've inlined the 4.0.1 implementation. I'm going to close this issue.

[2017-08-08 21:54] #121 closed

[2017-08-08 21:55] #120 closed

[2017-08-08 22:12] marto83 commented on #119
@SimonWoolf I've fixed the Realtime chap sample in the `dotnet-standard` branch.
It is not a very well polished sample. I mainly used it when testing the initial realtime integration.

[2017-08-08 22:12] #119 closed

[2017-08-08 23:15] ndastur opened #123 "Consider setting EchoMessages default to false"
According to the docs at https://support.ably.io/support/solutions/articles/3000053844-how-does-ably-count-messages- it seems that an echoed message counts and message counts a reflected in the cost of the service. It would seem better and more transparent for users to explicitly set echo to true and accept the "extra" cost.

I am also not sure what function message echoing provides and therefore

[2017-08-08 23:16] ndastur commented on #121
Thank you. I'll give it a whirl

[2017-08-10 10:06] DaTester commented on #106
Hi @marto83,  Sounds like a bit a pain this issue.  I'm pretty sure it's MsgPack.Cli that causes the failure because i tried including the package in a new Xamarin UWP project and it fails the same way in release mode.  I really do hope you can find a work around for this issue.

[2017-08-11 16:13] marto83 commented on #106
I updated to the latest beta of MsgPack and still get the error. Which version did you use?

[2017-08-11 18:42] DaTester commented on #106
I tried it with the the latest stable version 0.8.1 and also tried the 0.9.0 beta 2 - both have same issue.

[2017-08-13 21:46] marto83 opened #124 "Concurrency issue in PresenceMap"
IO.Ably.AblyExceptionReason: Unexpected error :Collection was modified; enumeration operation may not execute.; Code: 50000
Raw
null
IO.Ably.AblyExceptionReason: Unexpected error :Collection was modified; enumeration operation may not execute.; Code: 50000
IO.Ably.Transport.ConnectionManager.<ProcessTransportMessage>d__73.MoveNext()
IO.Ably.Transport.ConnectionManager.<OnTransportMessageReceived>d

[2017-08-13 22:43] #124 closed

[2017-08-13 22:51] marto83 commented on #122
@arash01 I did a small xamarin app to test it. Have a look at https://github.com/ably/ably-dotnet/tree/dotnet-standard/examples/AndroidSample

The latest stable version is 0.8.5-beta18.

[2017-08-13 22:55] marto83 commented on #117
@ndastur please try the latest beta 0.8.5-beta18. I wrote a test android app to try it out. I'm planning to promote this version to 0.8.5 in a couple of days.

[2017-08-13 22:57] marto83 commented on #116
@ndastur I'm going to close this. Please feel free to reopen it if this reappears.

[2017-08-13 22:57] #116 closed

[2017-08-13 22:58] marto83 commented on #112
This is fixed in 0.8.5 beta 18. Feel free to reopen it if it reoccurs.

[2017-08-13 22:58] #112 closed

[2017-08-13 23:01] marto83 commented on #115
@jeraldAR beta14 has another issue. Please try 0.8.5 beta 18. It's the current stable build.

[2017-08-13 23:14] marto83 commented on #96
The issue is fixed from 0.8.5 onwards.

[2017-08-13 23:14] #96 closed

[2017-08-13 23:15] #105 closed

[2017-08-13 23:15] marto83 commented on #109
Fixed in 0.8.5 beta 18

[2017-08-13 23:15] #109 closed

[2017-08-13 23:18] marto83 commented on #106
@DaTester MsgPack is not ready. The only other way would be to find a way to switch off msgpack and release a json only version. Let me chat with @mattheworiordan.

[2017-08-13 23:18] #95 closed

[2017-08-13 23:26] marto83 commented on #78
`DETACH` is handled correctly. Currently, I don't handle `DISCONNECT`. I'll add a test for it and handle it

[2017-08-14 02:23] arash01 commented on #122
Hi,
0.8.5-beta18 isn't available in nugget

[2017-08-14 03:35] arash01 commented on #122
Just updated to 0.8.5-beta18. I Will test it for 2 days and will let you know the result.
Thanks :)

[2017-08-14 15:21] ndastur commented on #117
Thank you @marto83 . We'll take a look at this and test

[2017-08-21 12:44] mattheworiordan commented on #123
@ndastur apologies for our slow response to this.  I realise this is not really a .NET issue but a general issue, so Martin assumed I would respond.

When you subscribe for messages on a channel, we believe that it's more correct, in a lot of cases, for all messages regardless of publisher to be emitted.  With that design, all subscribers get a consistent stream of messages.  I can certainly see a

[2017-08-22 04:51] arash01 commented on #122
Unfortunately it's still happening with the version you mentioned before.
These are the last two logs before it stopped receiving messages. There was nothing before or after to indicate any activity..

04:43:14.365 Websocket message received. Raw: {"action":0}
04:43:29.402 Websocket message received. Raw: {"action":0}

[2017-08-22 10:14] ndastur commented on #123
Ty @mattheworiordan. I get the idea of messages being emitted regardless of publisher but not sure why the echo back again?? From what I read in the docs there is a success result from the Ably server that guarantees receipt so what does the echo add?
Also in our app I haven't changed the default and I don't believe we get an echo message back. So might be a bit of cross purpose talking happening

[2017-08-23 09:22] SimonWoolf commented on #119
Thanks @marto83

[2017-08-23 20:04] ndastur commented on #122
I have been testing using the RC2 version today and I am not seeing the disconnect error. One change I have made to my code is to turn _off_ auto connect and do an explicit connect. It was like this in the example app so thought I do it that way too.

[2017-08-24 09:19] arash01 commented on #122
Thanks, testing now :)

[2017-08-25 02:42] arash01 opened #125 "Channel state changes twice"
Hi,

I noticed every time app (iOS/Android) subscribes to a channel, the status goes from Attaching to Attached and again after ~2 seconds from attaching to Attached. Is there any reason for this?

[2017-08-25 17:19] softsan opened #126 "Xamarin Null Reference Error - 0.8.6 - beta 2"
We have our app crash with  following exception  in  PROD env from Xamarin.Forms app.  We are using ably 0.8.6 - beta 2

[code]

[2017-08-30 07:01] arash01 commented on #122
I could capture this log:

2017-08-30 16:41:02.639 XXXXX[8404:689750]     06:41:02.639 Websocket error! Unable to read data from the transport connection: Connection timed out.
  at Mono.Net.Security.MobileAuthenticatedStream.EndReadOrWrite (System.IAsyncResult asyncResult, Mono.Net.Security.AsyncProtocolRequest& nestedRequest) [0x00048] in /Library/Frameworks/Xamarin.iOS.framework/Versions/10.12.

[2017-08-30 13:01] mattheworiordan commented on #126
Note from @marto83 on this issue:

To be addressed when this issue is resolved.

[2017-08-30 13:04] mattheworiordan commented on #123
It means that subscribers are decoupled from publisher actions, which underpins the Pub/Sub pattern i.e. you could publish via REST, via Realtime, or via another RPC / HTTP call to your servers, and still subscribe in the same way.  Additionally, it means you can guarantee that the order you receive messages is the same order all subscribers receive in that region on that channel.  Without message

[2017-08-30 13:04] #123 closed

[2017-09-05 11:34] #126 closed

[2017-09-05 11:49] marto83 commented on #126
I've released 0.8.5. Please use that version instead the bug is fixed there.

[2017-09-06 15:16] DaTester commented on #106
Hi @marto83  - tried the latest MsgPack release (0.9.1).  I'm afraid issue still exists for UWP release version.  I was really hoping issue would have been addressed in the latest package :-(

[2017-09-06 15:29] softsan commented on #126
We have this error on 0.8.5.
[code]

[2017-09-06 16:27] marto83 commented on #106
Oh. That's disappointing :(

[2017-09-06 16:30] marto83 opened #129 "0.8.5 Android connection issue"
[code]

[2017-09-06 16:31] marto83 commented on #129
The Xamarin app will need to have the following permission `android.permission.INTERNET` in the manifest.

[2017-09-06 16:33] marto83 commented on #126
@softsan I've created a separate issue #129 and added a comment.

Either use 0.8.5-rc3 which doesn't update the Websocket4Net reference or you need to set this permission `android.permission.INTERNET` in your manifest file.

[2017-09-11 17:51] softsan opened #134 "Ably dll and iOS app size increased"
We have noticed that after adding 8.5 rc-2, the size of dll is increase by almost double for iOS. This is holding back us as it effect the whole binary size crossing 100mb on app store.

Please see image where earlier we have ably dll in kbs and now its in Mbs. So is it possible to decrease/compress size of your assemblies?

Thanks

<img width="1365" alt="ably" src="https://user-images.githubuserc

[2017-09-11 20:43] withakay commented on #134
Hi,

Thanks for reporting this issue, I will see if what can be done about getting the size back down.

In the mean time, if getting the size of your app down is urgent there are some general points worth mentioning regarding iOS app sizes (my apologies if I am repeating things you are already aware of).

The current 100MB over the air update limit for iOS apps is actually per slice (i.e. per arch

[2017-09-11 20:48] caseyniemann commented on #134
@withakay Yes we have done those items---linker presents challenges due to dependencies, but have checked others.  Standing by for your update

[2017-09-12 12:36] mattheworiordan opened #135 "0.8.4.8 - Unable to publish in detached or failed state"
Issue reported by customer in ticket 2147:

Please have a look at the code and let us know if we are doing it wrong.

[code]

@marto83 @withakay I can provide the full logs to you if you would like to look at them?

[2017-09-12 12:43] withakay commented on #135
@mattheworiordan send them over and I will take a look

[2017-09-13 11:24] DaTester commented on #106
Hi @marto83,  We built the MsgPack using the latest source from NuGet and found it works fine in UWP release mode ( I have attached the MsgPack dll we built).  But when we then include the ably.io package there is a conflict (two MsgPack files).      Is it possible for you to create a ably.io package for us using the msgpack.dll?  this will hopefully allow us to put our UWP app version on the wind

[2017-09-13 20:24] marto83 commented on #106
@DaTester. That's great news. We can't publish a package with a local dependency unless you inline the other dll and last time I tried ILMerge didn't like the MsgPack dll. The other option is for you to pull this repo and change the dependency from nuget to your msgpack dll. This way you can build the library against it and you should be able to include ably + msgpack as local dependencies.
To do

[2017-09-14 12:31] DaTester commented on #106
ok thanks for the information.  In our current development environment we use visual studio 2015 update 3.   Do we need to update to VS 2017?

[2017-09-14 16:35] marto83 commented on #106
@DaTester. Yes we are using 2017, so it's easier if you have it. You can run both 2015 and 2017 alongside each other.

[2017-09-15 16:23] caseyniemann commented on #134
@withakay Jack--Any updates on this request?

[2017-09-16 12:59] caseyniemann commented on #134
@withakay when we built from source we see a bug that @marto83 had previously fixed.  Posting
caused.AggregateException(s)
IO.Ably.Realtime.Presence.PresenceMap.EndSync()<b468bc9bcf0d4d419953a5e0dbc4314b>:0
IO.Ably.Realtime.Presence.OnPresence(PresenceMessage[] messages, string syncChannelSerial)<b468bc9bcf0d4d419953a5e0dbc4314b>:0
IO.Ably.Realtime.ChannelMessageProcessor.MessageReceived(ProtocolM

[2017-09-17 15:27] caseyniemann opened #138 "8.5 Android Presence+PresenceMap.EndSync()"
Xamarin caused by: android.runtime.JavaProxyThrowable: System.AggregateException: A Task's exception(s) were not observed either by Waiting on the Task or accessing its Exception property. As a result, the unobserved exception was rethrown by the finalizer thread. ---> IO.Ably.AblyException: Reason: Unexpected error :Object reference not set to an instance of an object; Code: 50000 ---> System.Nul

[2017-09-18 10:44] withakay commented on #134
@caseyniemann I don't have an answer just yet to reversing the size increase.
Removing some inlined dependencies would reduce the size, but that has knock on effects for other users.

[2017-09-18 11:06] mattheworiordan commented on #134
@caseyniemann what's the status / current thinking on a version without MsgPack support?

[2017-09-18 15:59] caseyniemann commented on #134
@mattheworiordan @withakay We don't have any direct dependencies on MSGPack that we are aware of.  Create a build and we will try it

[2017-09-18 16:18] mattheworiordan commented on #134
@caseyniemann yup, that's the idea.  MsgPack is just an optimisation at a transport level, so by removing it it should have no impact on you and will hopefully give you an option to reduce the overall library size.  We're looking at this as I believe @marto83 previously did some work on this that @withakay will pick up.

[2017-09-19 19:26] DaTester commented on #106
Thanks @marto83 ,  This workaround allowed us to to create package for UWP 👍
 fyi i raised the issue with the msgpack.cli owner regarding the problem.

[2017-09-19 19:38] marto83 commented on #106
@DaTester I'm glad to hear that. 👍

[2017-09-28 13:53] mattheworiordan opened #141 "XML documentation / types where necessary"
The AuthCallback of ClientOptions is defined with an Object type.  This is because it can return a TokenDetails or TokenRequest object.  Documentation as follows:

In some libraries a JSON object is supported to.

A customer has suggested the following:

Where we have these loose object types that make it difficult in the IDE to see what return type is expected, we should try and help developers.

[2017-09-28 14:01] tcard commented on #141
In iOS, we define [a TokenDetailsCompatible](https://github.com/ably/ably-ios/blob/85fd3b53f84a5dd7ba6ea7e9d2f09df897397008/Source/ARTAuthOptions.h#L15) protocol (interface, in C# parlance), make TokenDetails and TokenRequest implement it (and String, but I believe in C# you can't implement interfaces for types already defined) and then use TokenDetailsCompatible in the auth callback.

[2017-09-28 14:04] tcard commented on #141
PS. In case it isn't clear, a TokenDetailsCompatible is something that can be turned into a TokenDetails and hence has a single method: `toTokenDetails`. For TokenDetails, it just returns `this`. For TokenRequest, it executes itself (ie. posts it to Ably) and returns the resulting TokenDetails.

[2017-09-29 10:45] withakay opened #143 "Use of task.ConfigureAwait(false) can give rise to out of order messages"
The use of task.ConfigureAwait(false) in certain places can spin off tasks onto multiple threads which can then execute out of order. PR #142 (https://github.com/ably/ably-dotnet/pull/142) fixes this for messages coming off the transport, but there should be an code audit to evaluate if there are other occurrence that might cause the library to behave incorrectly.

[2017-10-09 19:34] withakay commented on #141
A `where` type constraint is not possible on a Func/delegate unfortunately. @tcard's suggestion is good, but in the c# lib TokenRequest is not responsible for posting itself, it is effectively a DTO with some initialisation methods, the current design doesn't make it easy to change that, best I can tell. There does some to be some intersection between TokenDetails and TokenRequest (namely ClientId

[2017-10-09 19:43] withakay commented on #115
@jeraldAR Did 0.8.5 beta 18+ resolve your issues?

[2017-10-09 20:06] withakay commented on #117
@ndastur did 0.8.5-beta18 fix the issues you were having?

[2017-10-11 14:58] jeddawson commented on #114
I've been working around this issue in my implementation for a while, but wanted to provide some feedback here and offer my help in resolving the underlaying issues :)

My use case in a nutshell: I have a console app that is consuming events from an Azure Event Hub. When the events meet certain conditions, we want to let users know about the changes via Ably but only when there are users on the re

[2017-10-13 16:04] mattheworiordan opened #149 "Add Release Process section to README"
@withakay please see https://github.com/ably/ably-ruby#release-process or https://github.com/ably/ably-ios#release-process for examples of a Release Process section included in all READMEs.

Can you add a suitable Release process to this repo?

[2017-10-13 20:03] jeraldAR commented on #115
Sorry for the delay. I haven't had much time working on our windows version. Been currently working on iOS. Ill let you know over the weekend.

[2017-10-15 21:35] marto83 opened #151 "IOs issues with MsWebsocket transport"
A few months ago we had an issue with the MsWebsocket transport and IOS and that's we use WebSocket4Net as the default implementation there.

The issue:

The connection will be made but the first time you try and send a message you get the following error:

It happens here https://github.com/ably/ably-dotnet/blob/dotnet-standard/src/IO.Ably.Shared/Transport/MsWebSocketConnection.cs#L135

There is

[2017-10-23 09:31] mrueedi commented on #106
Hi all
I had the same problem and the same workaround worked.
Meanwhile MsgPack.Cli 0.9.2 is available in NuGet and local ably finally works with that too. Would it be possible to created an updated ably.io package, that references MsgPack.Cli 0.9.2?

[2017-10-29 22:26] mattheworiordan commented on #106
@mrueedi you seen https://github.com/ably/ably-dotnet/pull/145?  We are releasing a version with MsgPack disabled completely in fact, until we are 100% confident MsgPack is stable.

[2017-10-29 23:41] mattheworiordan commented on #115
@jeraldAR any update?

[2017-10-30 00:06] mattheworiordan commented on #141
Thanks @withakay.  In terms of the callback, why does it say "...used to get a new TokenDetails...".  Does it not anymore?

[2017-10-30 09:11] withakay commented on #141
It should be 'is used', I fix.

[2017-10-30 09:19] withakay commented on #141
This should probably be 'The callback [that is] used to get a new TokenDetails...', or perhaps 'A callback that will return a new TokenDetails...' is clearer

[2017-10-30 10:02] mattheworiordan commented on #141
👍

[2017-10-30 12:48] #149 closed

[2017-10-30 12:51] withakay opened #156 "Reinstitute MsgPack"
We should periodically check the status of MsgPack and when it is stable on the required platforms, re-enabled it.

Specifically this has affected people targeting UWP (see [this issue](https://github.com/ably/ably-dotnet/issues/106)).
A secondary issue that MsgPack has quite a large binary which created some [issues on iOS](https://github.com/ably/ably-dotnet/issues/134)

┆Issue is synchronized w

[2017-10-30 20:49] withakay commented on #33
Whilst the OPs requests is now technically possible, the feature is not exposed publicly and based on internal discussions some time ago, it seems unlikely that this will happen, so I am going to close this for now. Feel free to re-open if you feel this is an important feature.

[2017-10-30 20:49] #33 closed

[2017-10-30 21:05] withakay commented on #28
Platform support is included in the readme, so I am closing this.

[2017-10-30 21:05] #28 closed

[2017-10-30 21:09] mrueedi commented on #156
UWP + locally cloned ably worked with MsgPack.Cli 0.9.2 (referenced via nuget) on my little test app. I am waiting for new release using MsgPack.

[2017-11-06 13:53] mattheworiordan opened #159 "Proxy support"
A customer has asked about Proxy support in .NET.  Specifically:

The official client lib spec sets out no requirements at present for proxy support, but [Java has partial support](https://github.com/ably/ably-java/issues/120), as does [Ruby](https://github.com/ably/ably-ruby/pull/84).

@withakay can you advise on what may be required to add proxy support for REST and WebSocket transports, should

[2017-11-06 16:32] withakay commented on #159
To directly roll proxy support in to the Ably Client is quite straight forward for REST and also for WebSocket transports using System.Net.WebSockets as these both take [System.Net.WebProxy](https://msdn.microsoft.com/en-us/library/system.net.webproxy(v=vs.110).aspx) as a parameter.

For transports using websockets4net the answer is [less clear](https://github.com/kerryjiang/WebSocket4Net/issues/3

[2017-11-07 00:05] mattheworiordan opened #161 "Xamarin 0.8.5+ System.NotImplementedException: The method or operation is not implemented. at System.Net.Sockets.SocketAsyncEventArgs.FinishOperationAsyncFailur"
Customer reported:

Sometimes the error comes after a while (30 sec), or the error comes when you turn on the Wifi again

[code]

[2017-11-08 12:48] withakay commented on #161
I can confirm that this bug is repeatable and is a regression from 0.8.4.8.

[2017-11-08 21:45] withakay commented on #161
I believe this is an upstream problem with websocket4net. See this [issue](https://github.com/kerryjiang/WebSocket4Net/issues/108).

Essentially
System.Net.Sockets.SocketAsyncEventArgs.FinishOperationAsyncFailure() is being called but it is [not implemented in mono](https://github.com/mono/mono/blob/master/mcs/class/System/System.Net.Sockets/SocketAsyncEventArgs.cs).

The websocket4net author clai

[2017-11-09 00:00] withakay commented on #151
I have setup a [test app](https://github.com/withakay/app-monkeychat/tree/ms-websocket-test) using the latest Xamarin release and cannot repeat this issue in the iOS simulator.

[2017-11-14 14:19] withakay commented on #151
I have looked into this and discussed with @marto83. When the issue was originally reported that was based on an app built against Xamarin.iOS 10.4, at the time of writing the current version is Xamarin.iOS 11.3. Additionally Microsoft also could also not repeat the bug, they were using Xamarin.iOS 10.10, incidentally 10.10 was the version that moved to using mono 5.0 (11.3 uses mono 5.4, 10.4 was

[2017-11-14 14:26] withakay commented on #161
If issue #151 is resolved the I think we could move ahead with dropping websocket4net as a dependency for Xamarin targets and use System.Net.WebSockets everywhere.

If people have a specific reason to use websockets4net we could provide a separate package that provides an implementation of ITransportFactory the can be plugged in via ClientOptions.

Does anyone have any thoughts on that?

[2017-11-16 14:14] mattheworiordan commented on #151
If we can do that, then that is a big win :)

[2017-11-16 14:15] mattheworiordan commented on #161
I can't see any reason why someone would need that.  As far as I was aware, we only supported both because of issues in the MS version, so if that is resolved, we can remove this dependency and it's a win for everyone.

[2017-11-16 14:22] withakay commented on #161
There are scenarios, but they can probably be considered edge cases. For example, if a customer were stuck for some reason on an old version of Xamarin or mono?

But, I am not suggesting this is something we would do in anticipation but rather something we could do as a response, if such a need materialises.

[2017-11-16 14:27] mattheworiordan commented on #161
Yes, that makes sense.  If it’s an issue for customers, we can offer them a
way to inject the lib themselves right?

[2017-11-16 15:25] withakay commented on #161
@mattheworiordan yes, exactly, we could either provide cut and paste code examples or make a separate nuget package that contains the functionality. The later could be made very simple for the end user, simply add the package and add one line of code to assign the TransportFactory via the ClientOptions.

[2017-11-16 23:22] mattheworiordan commented on #161
Ok, well let's not publicise the options for now.  If customers hit issues, we can consider one of the two ideas you have.  Thanks!

[2017-11-20 13:58] apertsovsky commented on #161
Any updates on issue?

[2017-11-20 14:23] withakay commented on #161
@apertsovsky I am working on a new release that will no longer depend on websocket4net, which is the source of this issue.

[2017-11-20 20:07] mattheworiordan opened #162 "System.Net.Http conflict"
From customer in support ticket 2499:

[2017-11-20 22:12] withakay commented on #162
It is hard to say what the issues is with the current information.

Is this is a green field project or if Ably was added to an existing project?
It is worth trying to install/update to the latest System.Net.Http via nuget and seeing if that has any effect.

[2017-11-21 00:37] GrahamLock commented on #162
Hi,
I have updated the HTTP package as suggested and now works fine.

Many thanks.)

[2017-11-21 00:39] mattheworiordan commented on #162
Good to know, thanks @GrahamLock. Can we close this issue then?

[2017-11-21 00:39] #162 closed

[2017-11-21 13:37] apertsovsky commented on #161
Isn't it a mono issue after all? Looks like they just copied MultipleConnectAsync from .net sources and just left methods that it uses unimplemented to be able to compile their project.

[2017-11-21 14:25] withakay commented on #161
@apertsovsky well, I suppose that depends on how you look at it ;)
It is a mono issue causing that is causing an issue with websockets4net. In the mean time there have been updates to mono that mean that System.Net.WebSockets now works. We currently use System.Net.WebSockets in the .Net 4.6.1 and .Net Standard builds and would like that to be the same across all supported platforms. In general, we

[2017-11-23 15:22] SimonWoolf opened #164 "customer getting an exception from MessageWebSocketMessageReceivedEventArgs.GetDataReader() in 0.8.6 beta 3"
Copying from https://support.ably.io/helpdesk/tickets/2516

Ably .Net library :  0.8.6 Beta 3
I am getting an unhandled exception in my Xamarin UWP app.
To reproduce this issue I simply start my app and all is working fine, I am able to send and receive messages.  But if I then disable the network (I use wi-fi) or switch to airplane mode I find after around 30 seconds the app abruptly closes I get

[2017-11-24 10:13] withakay commented on #161
This is now fixed on master, a 0.8.6-beta4 release is coming soon.

[2017-11-24 10:13] #161 closed

[2017-11-24 10:14] withakay commented on #151
Newer version of mono have fixed this issue, so I am closing this issue

[2017-11-24 10:14] #151 closed

[2017-11-24 12:05] withakay commented on #164
I will attempt to reproduce this and confirm the bug ASAP

[2017-11-27 13:00] lovetofail opened #165 ""The WebSocket protocol is not supported on this platform." on Windows 7"
Some of our customers are still on Windows 7. And there is this error for the latest commit a8b5437492277f62c8e83549b01893ed6f9f0732  "The WebSocket protocol is not supported on this platform.; "
I've used the code below for previous Ably versions.
[code]
But as I understand you've removed support for the above. I'd appreciate if could you provide instructions how to change the Ably source code ba

[2017-11-27 14:51] withakay commented on #165
Hello, thanks for reporting this issue and apologies for causing you unexpected problems.

You will need to implement an ITransportFactory that uses WebSocket4Net in your project and pass that into the Ably client with ClientOptions.

I have prepared a sample project that should give you an idea of what is required.
https://github.com/withakay/ably-dotnet-alternative-transports

Let us know how yo

[2017-11-27 15:36] lovetofail commented on #165
It's working great. Thank you.

[2017-11-28 18:10] withakay commented on #165
I have updated the readme for the most recent release with a note for windows 7 users.

[2017-11-28 18:10] #165 closed

[2017-11-30 19:48] withakay commented on #164
I managed to repeat this (at last).
I believe this is a manifestation of this issue.
https://github.com/dotnet/corefx/issues/17317

Microsoft released a fix for this recently.
In your UWP project add a reference via nuget to 'System.Net.WebSockets.Client' version 4.3.2 (or newer).

Note, this is only an issue if you are targeting Windows 10 versions before Windows 10 Fall Creators Update.

[2017-11-30 23:59] mattheworiordan opened #166 "After upgrade to 0.8.6, System.Net.WebSockets.WebSocketException"
From customer, support ticket 2539:

We updated o the stable .86 net client library.  We now get:

[code]

[2017-12-01 10:38] DaTester commented on #164
Thanks @withakay , adding ' System.Net.WebSockets.Client' version 4.3.2 has fixed this issue.

[2017-12-01 10:45] withakay commented on #164
@DaTester Great!
I will see about updating the nuspec file so UWP has a dependency on System.Net.WebSockets.Client 4.3.2, which should prevent new users from running into this.

[2017-12-01 15:31] withakay commented on #166
@mattheworiordan I am unable to repeat this, is there any more information available?

[2017-12-01 16:51] caseyniemann commented on #166
Internal web socket error…when losing internet connection over ssl, isn’t handled correctly.

caused.AggregateException(s)
System.Net.Sockets.Socket.EndSend(IAsyncResult asyncResult)<d727e8e344a34a409aae05e74d97553d>:0
System.Net.Sockets.NetworkStream.EndWrite(IAsyncResult asyncResult)<d727e8e344a34a409aae05e74d97553d>:0
--- End of inner exception stack trace ---
Mono.Security.Protocol.Tls.SslStre

[2017-12-01 23:04] withakay commented on #166
@casseyniemann what version of Xamarin are you using?

[2017-12-02 01:12] Kwal opened #167 "Channel options consistently being overridden on realtime channels (v0.8.6)"
This [commit](https://github.com/ably/ably-dotnet/commit/ac1c55805877fd101bcd4fd2145ecde278f12cf1) seems to have broken channel options. Whenever a channel is retrieved while sending a message, the options for the channel are overridden with the new options that are created [here](https://github.com/ably/ably-dotnet/blob/master/src/IO.Ably.Shared/Realtime/RealtimeChannels.cs#L26).

This is especia

[2017-12-02 06:21] withakay commented on #167
I will look into this ASAP

[2017-12-02 07:08] withakay commented on #167
@Kwal Are you able to provide the steps required to repeat this please?

[2017-12-02 14:50] Kwal commented on #167
I forked and updated some of the code [here](https://github.com/Kwal/ably-dotnet/commit/57989d3838b3a42b661de1f3000c1992abeab3d6) - please let me know if you need more info.

[2017-12-02 19:37] withakay commented on #167
@kwal That is awesome, I will review as soon as I am able. Thanks!

[2017-12-14 21:26] withakay commented on #167
@Kwal Apologies for the delay in fixing this issue.
I have submitted a PR with a fix, so hopefully we will have a new release soon.

[2017-12-14 21:28] withakay commented on #166
I am unable to repeat this so I am going to close due to inactivity, please reopen this issue is affecting you.

[2017-12-14 21:28] #166 closed

[2017-12-14 21:29] #164 closed

[2017-12-20 12:05] mattheworiordan opened #169 "Unity support"
See feedback from user at https://twitter.com/maartenp/status/943115381874544640

I have asked for more details.

[2017-12-21 10:27] mattheworiordan commented on #138
@caseyniemann we believe this issue has been resolved with a bunch of presence fixes.  Can we close this issue?

[2017-12-21 10:28] mattheworiordan commented on #129
I believe this is not a library issue, but instead an Android configuration issue, so closing this.

[2017-12-21 10:28] #129 closed

[2017-12-21 10:29] #114 closed

[2017-12-21 10:29] mattheworiordan commented on #125
@arash01 we're just doing a clean up of old issues and I see we never responded to this.  I am very sorry about this.  We have since done a lot of releases to the client library so I suspect this is fixed.  Can you confirm if you still experience this issue?

[2017-12-21 10:30] mattheworiordan commented on #122
@arash01 we have since changed our underlying WebSocket library and now rely on the MS version as it supports all platforms.  No one has reported any issues like this.  Can you confirm if this issue still affects you?

[2017-12-21 10:31] mattheworiordan commented on #117
@ndastur one final query to see if this is still an issue?  We believe we fixed this some time back.

[2017-12-21 10:32] mattheworiordan commented on #106
This is no longer an issues as MsgPack is no longer bundled into the library.  Once we have a stable release for MsgPack, then we will potentially reintroduce.

[2017-12-21 10:33] mattheworiordan commented on #156
FYI, once we have a stable release of MsgPack, we need to ensure https://github.com/ably/ably-dotnet/issues/106 is addressed.

[2017-12-21 10:35] mattheworiordan commented on #78
No further reports of this

[2017-12-21 10:35] #78 closed

[2017-12-21 10:35] #63 closed

[2017-12-21 10:36] #70 closed

[2017-12-22 22:20] mattheworiordan commented on #135
@withakay have requested this from the customer.  We'll leave this ticket open for a week or two, and shut if we don't get a reply.

[2018-01-01 21:48] maartenp commented on #169
Apologies for the delay in responding.

There are three issues I'm experiencing in Unity, two of which I've been able to work around.

1) Unity does not support TLS 1.2. Workaround is requesting token through Rest, and then disabling TLS on Realtime connection
2) Newtonsoft.Json uses dynamic keyword, which is not supported on iOS. Workaround is to link to Unity compatible version: https://www.asse

[2018-01-03 20:24] caseyniemann opened #171 "v.87 The current state [Suspended] does not allow messages to be sent.; Code: 500"
App crashes coming out of suspend after .87 update.  IO.Ably.AblyExceptionReason: The current state [Suspended] does not allow messages to be sent.; Code: 500
Raw
  at IO.Ably.Transport.ConnectionManager.Send (IO.Ably.Types.ProtocolMessage message, System.Action`2[T1,T2] callback, IO.Ably.ChannelOptions channelOptions) [0x00182] in <762ba4d2da794608b090b081586466af>:0
  at IO.Ably.Realtime.Realtim

[2018-01-04 09:32] mattheworiordan commented on #171
Hi @caseyniemann, what do you mean the app crashes?  Are you receiving an error stating you cannot send messages in the suspended state, or is the app completely exiting as a result?

[2018-01-04 13:15] caseyniemann commented on #171
@mattheworiordan after the app is idle and you come out of suspend, we get a crash....likely due to disconnect/reconnect which ably handles internally...the app does not have to completely exit....just need you to put in a brief delay upon resume.

[2018-01-04 15:58] maartenp commented on #169
If it helps debugging, I've tried 0.8.7, 0.8.6 and 0.8.6-beta3 (to test whether it was related to System.Net.WebSockets), and all have the same issue.

[2018-01-04 16:03] withakay commented on #169
@maartenp Thanks, I will take a look soon, I have a bunch of stuff to catch up on!

[2018-01-05 03:44] caseyniemann commented on #171
@mattheworiordan @withakay IO.Ably.AblyExceptionReason: Commulative retry timeout of 10s was exceeded.; Code: 500
Raw
  at IO.Ably.AblyHttpClient+<Execute>d__21.MoveNext () [0x0016c] in <762ba4d2da794608b090b081586466af>:0
--- End of stack trace from previous location where exception was thrown ---
  at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw () [0x0000c] in <41d0998ff0d64a1f9

[2018-01-05 20:00] maartenp commented on #169
Did some more digging with Wireshark and adding a Logger. The Log entry: "Recieving message with type: Close" is coinciding with the Websocket PING and Heartbeat / {"action": 0} message.

[2018-01-10 01:27] mattheworiordan commented on #171
@caseyniemann is there any update on this?

[2018-01-10 19:16] softsan commented on #171
We have frequent following error occured in our production environment:

`System.Net.WebSockets.WebSocketException The remote party closed the WebSocket connection without completing the close handshake.

System.Net.WebSockets.WebSocketExceptionThe remote party closed the WebSocket connection without completing the close handshake.
  at System.Net.WebSockets.ManagedWebSocket+<SendFrameFallbackAsyn

[2018-01-11 11:11] withakay commented on #171
@caseyniemann Can you give me the details of the Xamarin version you are using?

[2018-01-11 13:00] caseyniemann commented on #171
@withakay we are on the latest stable version of xamarin forms 2.5

[2018-01-11 13:39] maartenp commented on #169
One more piece of information. If I request a Heartbeat (using PingAsync), the connection does not close. Changing the "heartbeatInterval" in transportParams to 1 minute results in the connection dropping every 1 minute.

[2018-01-11 18:23] withakay commented on #171
@caseyniemann
I have now repeated this, but only on an iOS physical device (Android and the simulator I could not get to exhibit the problem). Simply backgrounding the app was not enough, I had to lock the device, does that match what you are seeing?

[2018-01-12 16:54] softsan commented on #171
we got following exception around 87 times on Android google pixel (8.1)

`Xamarin caused by: android.runtime.JavaProxyThrowable: System.AggregateException: A Task's exception(s) were not observed either by Waiting on the Task or accessing its Exception property. As a result, the unobserved exception was rethrown by the finalizer thread. ---> System.Net.WebSockets.WebSocketException: The remote pa

[2018-01-12 18:18] withakay commented on #171
Just a quick update, I have tested with v0.8.6 and I am seeing the same behaviour, so it looks like this could be a regression in Xamarin/mono.
I will try dig deeper when I get a chance.

[2018-01-15 18:12] withakay commented on #167
fixed in 0.8.7

[2018-01-15 18:12] #167 closed

[2018-01-17 13:16] caseyniemann commented on #171
@withakay any updates?

[2018-01-17 13:53] withakay commented on #171
@caseyniemann there seems to be a multiple, unrelated issue reported in the bug.
For the initial reported problem 'The current state [Suspended] does not allow messages to be sent.; Code: 500' The issues seems to be that when the App resumes ably is not receiving an event to tell it establish the a connection again, so by default it attempts a reconnect after 15 seconds. If you attempt to send mes

[2018-01-17 19:31] softsan commented on #171
We already set that in our app. We have 5 seconds for `DisconnectedRetryTimeout`.

`clientOptions.DisconnectedRetryTimeout = TimeSpan.FromSeconds(5);`

[2018-01-18 01:42] hashitha commented on #135
We have the same issue. I think this is because the OS was Windows 7. WebSocket is not supported?

[2018-01-18 09:07] withakay commented on #135
@hashitha from the [readme](https://github.com/ably/ably-dotnet/blob/master/README.md)

* https://github.com/ably-forks/ably-dotnet-alternative-transports

[2018-01-18 10:00] hashitha commented on #135
@withakay thanks. I implemented that and it works fine now.

[2018-01-18 10:02] withakay commented on #135
Great, as we have not heard from the other person I am going to close this.

[2018-01-18 10:02] #135 closed

[2018-01-18 10:39] withakay commented on #171
@softsan I should have mentioned `SuspendedRetryTimeout` too, are you setting that in your client options?
That said, a better option might be to use Xamarin Form's MessagingCenter to give the ably client a nudge when the app resumes, something like this

[code]

and in App.cs or your AppDelegate/MainActivity send the message

[code]

(the class MyResumedMessage is simply an empty class defined in

[2018-01-19 11:15] ndastur commented on #171
Just to chime in. We saw lots of these sorts of errors too. Our best solution was to handle connect / disconnect ourselves from the Forms lifecycle methods and set ```clientOptions.AutoConnect = false;```

[2018-01-20 17:13] mattheworiordan opened #172 "Java.IO.IOException with Xamarin"
See reported issue from customer with support ticket 2623 below:

[code]

This appears to be a timeout or failed HTTP request, but before we dive into the platform logs, @withakay can you please give us your view on what is happening here?

[2018-01-20 21:14] withakay commented on #172
I have some questions:

1) What is the frequency of this error
2) Do you have code deployed on other devices and/or Android versions that does not exhibit this error?
3) Are you setting the HttpClientHandler to use AndroidClientHandler (based on the okhttp error I am guessing you are)?

[2018-01-22 19:37] withakay commented on #172
I don't think this is a problem with ably-dotnet directly but with [okhttp](https://github.com/square/okhttp) which is used by Xamarin to bind to the native Android HTTP library, hence why you are not seeing similar issues on iOS (Xamarin has a similar option for iOS that binds to NSUrlConnection iirc). Not using AndroidClientHandler may resolve the problem (I have not been able to repeat the issu

[2018-01-22 21:03] ndastur commented on #172
That would make sense and at present only seems to be 5.1.1 which is a notorious android release

[2018-01-22 21:21] withakay commented on #172
@ndastur are you seeing this on multiple devices running 5.1.1 or just one?

[2018-01-22 22:18] ndastur commented on #172
Multiple

[2018-02-01 16:45] mattheworiordan commented on #171
@withakay what do you suggest needs to be done at this time?

[2018-02-01 16:46] mattheworiordan commented on #171
From Casey:

[code]

[2018-02-01 16:46] mattheworiordan commented on #171
@caseyniemann cc ^

[2018-02-01 16:58] withakay commented on #172
@ndastur have you come up with a fix/work around for this problem? Did you try not selecting AndroidClientHandler perhaps?
I don't think there is anything more I can do as this seems to be an upstream problem :(

[2018-02-01 17:00] ndastur commented on #172
Hi @withakay I haven't been able to investigate yet. But moving from AndroidClientHandler is not really an option due to other reasons. I will try and look again at this next week

[2018-02-01 17:50] withakay commented on #171
@caseyniemann @mattheworiordan
I have a patch for the missing null checks that will prevent NullReferenceException, but to prevent the other problems you will have to add some code to (as suggested above) to tell ably to connect because there is no generic cross platform event that gets fired that we can handle in the ably lib.

[2018-02-01 21:09] caseyniemann commented on #171
@withakay is there an updated nuget

[2018-02-04 23:23] mattheworiordan commented on #169
@maartenp sorry for the slow response on our end.  To be completely honest, our focus at present is to get the .Net lib test suite running across all platforms, which it hasn't done until now.  As such, when we make changes or introduce new features, we have found out about issues from customers as opposed to CI failures, which is clearly not good enough if the lib is being used in environments we

[2018-02-06 11:53] withakay commented on #171
@caseyniemann I will update this issue when there is a new release, it should be in the next day or so.

[2018-02-06 22:36] withakay commented on #171
@caseyniemann 0.8.8 has been released - https://github.com/ably/ably-dotnet/releases/tag/0.8.8

[2018-02-07 13:16] caseyniemann commented on #171
@withakay we will test today

[2018-02-09 11:53] withakay opened #179 "Integrate a Linter/Code formatting tool into the build process"
Integrate a Linter/Code formatting tool into the build process to increase code quality and consistency.

I suggest waiting for https://github.com/dotnet/codeformatter to mature past alpha and then evaluating that.

[2018-02-13 15:33] withakay commented on #171
@caseyniemann an news on this, has it helped?

[2018-02-16 14:00] caseyniemann commented on #171
@withakay seems to be working better, based upon initial rollout

[2018-02-16 14:07] withakay opened #180 "Investigate report of System.Net.Http needing to be installed"
We have received a report from a customer that they had to install `System.Net.Http` [from nuget] in order for ably to work. This need verifying and fixing.

Source: https://github.com/ably/docs/issues/379

[2018-02-16 14:16] withakay commented on #171
@caseyniemann
That is good news!
I am going to close this issue, but please do re-open it if you feel the problem is not resolved.

[2018-02-16 14:16] #171 closed

[2018-02-16 15:52] withakay commented on #180
A test package has been pushed to MyGet for testing - https://www.myget.org/feed/ably-dotnet-dev/package/nuget/ably.io

[2018-02-19 15:52] ashikns commented on #169
@mattheworiordan Is Unity compatibility something you guys are aiming to implement? I recently setup a fork for a project which is compatible with Unity 2017 and newer (with .Net 4.6). It requires the classes to be rewritten to be compatible with C# 6, so there are a moderate amount of changes.

[2018-02-19 16:31] withakay commented on #169
@ashikns Getting the library to 1.0 spec is the top priority at the moment, but Unity compatibility is something we would like to address down the line (but there is no specific timeline for that right now).

There are various problems with Unity support (see above) but c# 7+ syntax should not be one of them, If you look at @maartenp's [project](https://github.com/maartenp/ably-unity-test) above y

[2018-02-19 17:02] ashikns commented on #169
That was the first path I went down. But then you get problems when calling functions that use HttpClient. I devised a work around for that, but it's not a very clean one.

[2018-02-20 08:04] mattheworiordan opened #182 "Platform support documentation"
@withakay a customer asked us today if PCL is supported (support ticket 2741).  I noticed in the README it says "Currently a portable (PCL) version is not available.", however that's pretty well hidden.

Given we have questions about whether the library supports X platform, or works with Unity for example, or particular versions of Xamarin / Mono etc. I think it's time we added a section in the RE

[2018-02-20 08:42] funkyboy commented on #182
@mattheworiordan @withakay Yup, we started [yesterday with iOS](https://github.com/ably/ably-ios/pull/693). And at the beginning of the README. We might even make it more explicit and create a section for that so there's also a title.

I propose to state it positively: "This SDK supports x, y and z".

Note: Maybe we didn't state it clearly yet in the guidelines, but "supports platform x" means tha

[2018-02-20 10:48] withakay commented on #182
@mattheworiordan

PCL is not supported, or perhaps better stated we do not offer a PCL compatible version. This was not a decision I was involved with (before my time) but I think the decision was probably valid, below are some of the reasons I think this.

**tl;dr: It is hard to back port to PCL, PCLs have been replaced by .Net Standard, we have an alternative for the primary use case (Xamarin).*

[2018-02-20 10:56] withakay commented on #182
@mattheworiordan @funkyboy Perhaps you could fork this repo to GitHub.com/ably-forks ?
https://github.com/withakay/app-monkeychat

I can then update the README with a note about PCLs and Xamarin support and link to the repo as an example of how to setup a Xamarin app?

[2018-02-20 11:01] funkyboy commented on #182
@withakay that's already a fork of a fork. I'd definitely keep an official repo under the Ably org as an example to showcase how to set up a project with our SDKs. Agree @mattheworiordan?

[2018-02-20 11:06] withakay commented on #182
@funkyboy Yes, the source is originally from James Montemagno who is the PM of Mobile Developer Tools at Microsoft, the app originally used Twillio as the message bus, I ported it to use ably.

[2018-02-20 11:11] funkyboy commented on #182
@withakay If there's any issue with credits we can add them to the README.

[2018-02-21 00:10] mattheworiordan commented on #182
Sure.  We have plenty of repos prefixed with `demo-`

[2018-02-21 00:11] mattheworiordan commented on #182
I think we need to be far more explicit than just having a line of text in a README with thousands of lines.  We should standardise how we describe platform support for all libraries, and can be explicit then about older platforms perhaps working, but not being officially supported, with appropriate links to old versions.  We should also then explicitly link from our primary ably documentation per

[2018-02-21 00:12] mattheworiordan commented on #182
P.S. We can move that to a separate issue in docs if you wish, please @funkyboy @Srushtika do that if you feel appropriate.

[2018-02-21 07:31] funkyboy commented on #182
I don't understand if this issue is related to supported platform in the readme or in the documentation. Clearly we need to declare supported platforms in both places, but I'd keep it short (when possible) in the readme.

[2018-02-21 08:44] ashikns commented on #169
Just wanted to report that I found a work around for this. Workaround 1 mentioned in this [comment](https://github.com/ably/ably-dotnet/issues/169#issuecomment-354679578) is still necessary since Unity editor doesn't support TLS 1.2. I was able to solve the issue with connection dropping every 15 seconds by manually porting some parts of .Net core to Unity. In other words websocket implementation

[2018-02-21 09:03] withakay commented on #169
@ashikns Awesome, thanks for the update.

BTW, You should not need to modify the ably source to use an alternative websocket transport, see https://github.com/ably-forks/ably-dotnet-alternative-transports for example of injecting an ITransportFactory implemenation via the ClientOptions.

[2018-02-21 09:20] ashikns commented on #169
Ah yes I saw that class and figured there must be some way to do it. In that case for folks who do not need to build for UWP just using that should be enough. Uwp has some specific problems that require me to bring in System.Net.Http manually as well though, so I'll have to continue with the present solution. But hey, it works and I'm happy. Thanks for the dotnet library :)

[2018-02-21 09:37] mattheworiordan commented on #182
Both, developers use both whether we like it or not.

Why?  Why not be verbose about what we know we support in full, what we think we may support but perhaps don't test, which old platforms we support with unsupported older versions of the lib, and which we know we don't support.  Of course in some cases this will be short, but in others where there are lots of platform incompatibilities / issues

[2018-02-21 09:57] funkyboy commented on #182
Isn't showing that "it might work with older versions" conflicting a bit with our aim to push towards the adoption of last official release?

[2018-02-21 10:30] mattheworiordan opened #184 "README is duplicated"
See https://github.com/ably/ably-dotnet/blob/master/README.md

[2018-02-22 20:11] withakay commented on #184
Fixed by #185

[2018-02-22 20:11] #184 closed

[2018-02-22 20:12] #180 closed

[2018-02-22 20:13] withakay commented on #172
@ndastur Any update on this, or can I close the issue?

[2018-02-22 20:15] withakay commented on #143
This was an issue with our usage of Xunit and its parallel context. No longer relevant.

[2018-02-22 20:15] #143 closed

[2018-02-23 22:49] withakay commented on #179
@funkyboy @paddybyers

I have been testing https://github.com/DotNetAnalyzers/StyleCopAnalyzers and it works well and has rules that cover the various white space issues mentioned rule for curly braces with `if` statements (and many, many others that could prove useful). Rule violations display as hints in the Visual Studio editor and as build warnings by default, although all the rules can have a

[2018-02-23 23:56] paddybyers commented on #179
I agree we should adopt it or something like it.

If a large fraction of the warnings come from a small number of nonstandard style choices, we could consider updating the settings to quieten those, assuming we're happy with them.

If we do want to go ahead and fix them, then it depends on the effort required to clean it up. I have a strong preference for just biting the bullet and doing it becaus

[2018-02-24 08:18] withakay commented on #179
It took me about an hour to get a 90% reduction in warnings (via fixes mostly and some disabling of rule), there are still 150 or so. The difficulty is not linear, but I think another hour or so and I would get another 90%

I have started a WIP PR https://github.com/ably/ably-dotnet/pull/190

[2018-02-24 10:03] paddybyers commented on #179
If it's a matter of hours then I definitely think we should bite the bullet and bring it all up to the new standard.

[2018-02-26 12:11] withakay opened #191 "Prefer the American English spelling for Initialise(d)"
Replace British English spellings with American English

- Initialise with Initialize
- Initialised with Initialized

[2018-03-02 11:47] funkyboy commented on #182
@withakay FYI, there's a new version of the ["Supported Platforms" section in iOS](https://github.com/ably/ably-ios/pull/697/files) and we are working on [the one for JS now](https://github.com/ably/ably-js/pull/481/files).

[2018-03-02 21:18] waynebrantley commented on #92
@drachele Care to share?

[2018-03-02 23:47] drachele commented on #92
Here's a code snippet for you @waynebrantley:

[code]

[2018-03-08 13:29] ashikns commented on #169
@withakay I followed your suggestion to replace the websocket transport and that fixed half of the issues. Unity also has an issue with HttpClient, it's incomplete/broken/both of these. However thanks to the IAblyHttpClient interface I was able to replace the AblyHttpClient implementation with one based on UnityWebRequests. It took some work but now everything works :) Thanks for your suggestions

[2018-03-08 15:28] maartenp commented on #169
@ashikns Would you mind sharing a demo project?

[2018-03-08 16:54] withakay commented on #169
@ashikns That is great! If you are able it would be great if you could share your code so we can point others at it in the future, would that be possible?

[2018-03-08 17:05] ashikns commented on #169
@withakay @maartenp I have a fork: https://github.com/ashikns/ably-dotnet/tree/httpclient-expose. That branch contains the commits to expose IAblyHttpClient so that an alternate implementation can be provided by outside code. The implementation of HttpClient based on UnityWebRequest is in a private project atm, I'll pull that into a separate public project and share it. Will post a link once I do.

[2018-03-08 17:08] mattheworiordan commented on #169
@ashikns send your address details to matt at ably dot io, and we'll send you some swag as a thanks!  We really appreciate that :)

[2018-03-08 17:10] ashikns commented on #169
It would be great if you guys can somehow make this part of the official repo - i.e. the ability to inject an implementation of IAblyHttpClient similar to how ITransport works. My repo works and doesn't break any existing stuff, but it's a bit heavy and I imagine there'd be a lot of coding style and other concerns from your perspective.

[2018-03-08 17:11] mattheworiordan commented on #169
We will do, that is planned, but we're just flat out on v1.0 for now.  That will come soon though.

[2018-03-08 17:16] withakay opened #192 "Allow an IAblyHttpClient implementation to be injected via ClientOptions"
This would allow a custom HTTP Client in a similar way to the ways custom transports can be injected. Specifically this would be useful for customers using unity, see https://github.com/ably/ably-dotnet/issues/169 for more in the comments.

┆Issue is synchronized with this [Jira Story](https://ably.atlassian.net/browse/SDK-116) by [Unito](https://www.unito.io)

[2018-03-08 17:46] ashikns commented on #169
@maartenp Added a sample project here: https://github.com/ashikns/AblyUnity. The editor client likely has some bugs. Our primary focus is on uwp so we can live with it. Uwp by the way needs some nuget packages and an upgraded .net core runtime, the sample project has a script to automatically include the necessary packages.

[2018-03-08 21:01] mattheworiordan commented on #169
Thanks @ashikns, you're a star 👍

[2018-03-08 22:53] LeviathanGames commented on #169
We'd be interested in this solution if we can get our hands on it for unity mobile. Its not clear how well your solution overlaps with that use case @maartenp

[2018-03-09 01:32] ashikns commented on #169
@LeviathanGames  We don't target mobile so I really have no idea how that would turn out. I think Unity will be able to rewrite the core Ably plugin for mobile platform without any issues. You just have to find a websocket compatible with mobile and inject that as ITransport to Ably.

For websocket there should be some already available options, for example - https://assetstore.unity.com/packages/

[2018-03-09 17:37] LeviathanGames commented on #169
What was wrong with the normal .net websocket implementation? I thought we had used it before successfully. We are using unity 2017.

[2018-03-12 22:13] LeviathanGames commented on #169
We’ve gotten most of the way towards a Unity<->Ably solution working. We used this websocket: https://github.com/sta/websocket-sharp and are using the latest 2017 unity with the “Experimental” .net 4.x support turned on.

The test app is talking to Ably ok, but the current issue when a client receives a message on a channel they're listening to, this error is thrown from the .Net SDK "Unexpected e